<div class="panel" >
	<div class="panel-heading">
		<h4 class="modal-title" ng-bind-html="configRoleToUserTitle"></h4>
	</div>
	<div class="panel-body">
		<div ng-repeat="roleItem in roleListed" class="radio c-radio">
	     	<label>
	        	<input type="radio" name="role" ng-model="roleIded" ng-value="roleItem.roleId" ng-click="selectTheRole(roleIded)"/>
	        	<span class="fa fa-circle"></span> {{roleItem.name}}
	     	</label>
	  	</div>
	</div>
	<div class="panel-footer bg-white text-right ">
		<button type="button" class="btn btn-default" ng-click="closeThisDialog()">关闭</button>
		<button type="button" class="btn btn-primary" ng-click="fetchDataAHideModal()">确认</button>
	</div>
</div>