<!--
产品详情，可修改或是添加新的产品
-->
<h3>修改密码
    <small></small>
</h3>
<div ng-controller="updateCmsUserPassWordCtrl" class="panel panel-default clearfix">
	<div class="row">
      <div class="col-md-12">
         <form  class="form-validate form-horizontal">
            <!-- START panel-->
            <div class="panel panel-default" style="border: none;">
               <div class="panel-body">
                  <fieldset>
                     <div class="form-group">
                        <label class="col-sm-2 control-label">原密码</label>
                        <div class="col-sm-6">
                           <input type="password" name="cmsUserPassWordInfo.oldPassWord" required="" ng-model="cmsUserPassWordInfo.oldPassWord" class="form-control"placeholder="输入密码" />
                           <span ng-show="validateInput('cmsUserPassWordInfo.oldPassWord', 'required')" class="text-danger">不可为空！</span>
                        </div>
                        <div class="col-sm-4">
                           <small class="text-muted"></small>
                        </div>
                     </div>
                  </fieldset>
                  <fieldset>
                     <div class="form-group">
                        <label class="col-sm-2 control-label">新密码</label>
                        <div class="col-sm-6">
                           <input type="password" name="cmsUserPassWordInfo.newPassWord1" required="" ng-model="cmsUserPassWordInfo.newPassWord1" class="form-control"placeholder="输入新密码" />
                           <span ng-show="validateInput('cmsUserPassWordInfo.newPassWord1', 'required')" class="text-danger">不可为空！</span>
                        </div>
	                     <div class="col-sm-4">
	                     	<small class="text-muted"></small>
	                     </div>
                     </div>
                  </fieldset>
                  <fieldset>
                     <div class="form-group">
                        <label class="col-sm-2 control-label">重复新密码</label>
                        <div class="col-sm-6">
                           <input type="password" name="cmsUserPassWordInfo.newPassWord2" required="" ng-model="cmsUserPassWordInfo.newPassWord2" class="form-control"placeholder="再次输入新密码" />
                           <span ng-show="validateInput('cmsUserPassWordInfo.newPassWord2', 'required')" class="text-danger">不可为空！</span>
                        </div>
	                     <div class="col-sm-4">
	                     	<small class="text-muted"></small>
	                     </div>
                     </div>
                  </fieldset>
               </div>
               <div class="panel-footer text-center">
                  <button type="submit" ng-click="updatePassWord()" class="btn btn-info">提交</button>
               </div>
            </div>
            <!-- END panel-->
         </form>
      </div>
   </div>
</div>