<div class="see {{preshow}}">
    <div class="content">
        <p class="title">{{articleData.title}}</p>
        <p class="nameTime">
            <span>{{articleData.authorName}}</span>
            <span style="margin-left:10px;">{{articleData.postedTime}}</span>
        </p>
        <p class="zhaiyao" ng-show="isShowAbstracts">{{articleData.abstracts}}</p>
        <div id="realContent" data-ng-bind-html="articleData.content"> </div>
        <p class="laiyuan" ng-show="fromsource"><b>文章来源:</b>{{articleData.fromSource}}</p>
        <!--<div class="fabu" ng-show="fabuShow">-->
            <!--<button ng-click="close()" class="button2">关闭</button>-->
            <!--<br/>-->
            <!--<button class="button3">发布</button>-->
        <!--</div>-->
    </div>
</div>



