<div class="see {{preshow}}">
    <div class="content">
        <p class="title">{{title}}</p>
        <p class="nameTime">
            <span>{{authorName}}</span>
            <span style="margin-left:10px;">{{postedTime}}</span>
        </p>
        <p class="zhaiyao" ng-show="isShowAbstracts">{{abstracts}}</p>
        <div id="realContent" data-ng-bind-html="content"></div>
        <p class="laiyuan" ng-show="fromsource"><b>文章来源:</b>{{fromSource}}</p>
        <div class="fabu">
            <button ng-click="close()" class="button2">关闭</button>
            <br/>
            <button ng-click="fabu()" class="button3">发布</button>
        </div>
    </div>
</div>


