<div class="see {{preshow}}">
    <div class="content">
        <p class="title">{{article.title}}</p>
        <p class="nameTime">
            <span>{{article.authorName}}</span>
            <span style="margin-left:10px;">{{article.postedTime}}</span>
        </p>
        <p class="zhaiyao" ng-show="isShowAbstracts">{{article.abstracts}}</p>
        <div id="realContent" ng-bind-html="article.content | to_trusted"></div>
        <p class="laiyuan" ng-show="fromsource"><b>文章来源:</b>{{article.fromSource}}</p>
        <div class="fabu">
            <button ng-click="close()" class="button2">关闭</button>
            <br/>
            <button ng-click="fabu()" class="button3">发布</button>
        </div>
    </div>
</div>


