<!-- START Top Navbar-->
<nav role="navigation" class="navbar topnavbar">
	<!-- START navbar header-->
	<div class="navbar-header">
		<a class="navbar-brand">
			<div class="brand-logo">
				<img src="app/img/logo.png" alt="App Logo" class="img-responsive" />
			</div>
			<div class="brand-logo-collapsed">
				<img style="width: 100%;" src="app/img/logo-single.png" alt="App Logo" class="img-responsive" />
			</div>
		</a>
	</div>
	<!-- END navbar header-->
	<!-- START Nav wrapper-->
	<div class="nav-wrapper">
		<!-- START Left navbar-->
		<ul class="nav navbar-nav">
			<li>
				<!-- Button used to collapse the left sidebar. Only visible on tablet and desktops-->
				<a ng-click="app.layout.isCollapsed = !app.layout.isCollapsed" class="hidden-xs">
					<em class="fa fa-navicon"></em>
				</a>
				<!-- Button to show/hide the sidebar on mobile. Visible on mobile only.-->
				<a toggle-state="aside-toggled" no-persist="no-persist" class="visible-xs sidebar-toggle">
					<em class="fa fa-navicon"></em>
				</a>
			</li>
			<!-- START User avatar toggle-->
			<li ng-show="xiaoren">
				<!-- Button used to collapse the left sidebar. Only visible on tablet and desktops-->
				<a ng-click="toggleUserBlock()">
					<em class="icon-user"></em>
				</a>
			</li>
			<!--<li dropdown="" class="dropdown dropdown-list open">
				<a ui-sref="cms.unClaimOrderList">
					<em class="icon-bell"></em>
					<div class="label label-danger">{{unClaimOrderNum}}	</div>
				</a>
			</li>-->
			<!-- END User avatar toggle-->
		</ul>
		<!-- END Left navbar-->
		<!-- START Right Navbar-->
		<ul class="nav navbar-nav navbar-right">

			<!--<li>
            <a style="position: relative;" ui-sref="cms.unClaimOrderList">
			               未接单
				<span style="top: 10px;right: 0; display: inline-block;text-align: center; width: 20px;height: 20px; background: #FF0000;border-radius: 50%;position: absolute;">
  							
				</span>
            </a>
        </li>-->
			

			<li>
				<a ng-click="sign_out()">
					<i class="fa fa-sign-out"></i>
				</a>
			</li>

			<!-- Search icon-->
			<!--<li>
            <a search-open="">
               <em class="icon-magnifier"></em>
            </a>
         </li>-->
			<!-- START Offsidebar button-->
			<!--<li>
            <a toggle-state="offsidebar-open" no-persist="no-persist">
               <em class="icon-notebook"></em>
            </a>
         </li>-->
			<!-- END Offsidebar menu-->
		</ul>
		<!-- END Right Navbar-->
	</div>
	<!-- END Nav wrapper-->
	<!-- START Search form-->
	<!--<form role="search" action="search.html" class="navbar-form">
      <div class="form-group has-feedback">
         <input type="text" placeholder="{{ 'topbar.search.PLACEHOLDER' | translate }}" class="form-control" />
         <div search-dismiss="search-dismiss" class="fa fa-times form-control-feedback"></div>
      </div>
      <button type="submit" class="hidden btn btn-default">Submit</button>
   </form>-->
	<!-- END Search form-->
</nav>
<!-- END Top Navbar-->