<h3>统计信息
    <br/>
</h3>
<div  ng-controller="homePageCtrl">
    <p>你好,{{loginName}},今天是{{nowTime|date:'medium'}}</p>
    <button class="btn btn-success" ui-sref="cms.userMessage">成长小助手({{getIndex.messageNoRead}})</button>
    <button style="margin-left: 50px" class="btn btn-success" ui-sref="cms.report">举报投诉({{getIndex.noDispose}})</button>
    <button style="margin-left: 50px" class="btn btn-success" ui-sref="cms.account">结算通知({{getIndex.noClearing}})</button>
    <button style="margin-left: 50px" class="btn btn-success" ui-sref="cms.invoice">发票通知({{getIndex.noOrderInvoice}})</button>
    <button style="margin-left: 50px" class="btn btn-success" ui-sref="cms.unauditedArticle">未审核文章({{getIndex.notAudit}})</button>
</div>
