
<!--
	created by webJia
-->
<h3>广告管理
    <small>首页ICON方案</small>
</h3>
<div  ng-controller="iconCaseCtrl" class="panel panel-default">
    <div class="panel-heading" style="	height:55px;">
            <button type="button" ui-sref="cms.iconCaseDetail" class="btn btn-labeled btn-success pull-right">
               	<span class="btn-label">
               		<i class="fa fa-plus"></i>
               	</span>创建方案
            </button>
    </div>
    <div class="panel-body " ng-class="loading?'whirl standard':'' " style="border-top: 1px solid #CFDBE2;">
        <table class="table table-striped table-condensed">
            <thead>
            <tr>
                <th>标题</th>
                <th>创建日期</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <!-- repeat begin -->
            <tr ng-repeat="list in homePageIcon">
                <td>{{list.title}}</td>
                <td>{{list.createTime}}</td>
                <td ng-style="{color:list.state==0?'black':'#27C24C'}">{{list.state|state_s}}</td>
                <td>
                    <a tooltip="停" ng-show="list.state==1" ng-click="modify(0,list.homePageIconId)" tooltip-trigger="mouseenter" class="btn btn-xs btn-info">停</a>
                    <a tooltip="启" ng-show="list.state==0" ng-click="modify(1,list.homePageIconId)" tooltip-trigger="mouseenter" class="btn btn-xs btn-primary">启</a>
                    <a tooltip="查看" tooltip-trigger="mouseenter" class="btn btn-xs btn-success" ui-sref="cms.iconCaseDetails({homePageIconId:list.homePageIconId,fontColor:list.fontColor,iconName:list.title})"><i class="fa fa-eye"></i></a>
                    <a tooltip="删除" tooltip-trigger="mouseenter" class="btn btn-xs btn-danger" ng-click="delete(list.homePageIconId )"><i class="fa fa-trash-o"></i></a>
                </td>
            </tr>
            <!-- repeat end -->
            </tbody>
        </table>
    </div>
</div>