<div class="panel">
    <div class="panel-heading">
        <h4 class="modal-title" ng-bind-html="addBanner"></h4>
    </div>
    <div class="panel-body">
        <form class="form-inline">
            <div class="form-group">
                <label for="">Banner类型 : </label>
                <select class="custom-css form-control"  ng-model="bannerTypeValue" ng-change="dataChange()" ng-options="bannerTypeValue._value_ for bannerTypeValue in typeList" >
                </select>
            </div>
        </form>
        <div ng-if="bannerTypeValue.index ==2">
            <div class="input-group">
                <label>选择话题 : </label>
                <input type="text" autocomplete="off" class="form-control" placeholder="请选择一个话题" ng-model="adUrl.name" ng-change="userChange(adUrl.name)" ng-focus="showUl()" ng-blur="hideUl()">
                <ul class="user-ul-style_">
                    <li ng-repeat="topicItem in topicList" class="user-li-style" ng-click="changeName(topicItem.title,topicItem.topicId)">
                        {{topicItem.title}}
                    </li>
                    <li ng-show="!topicList.length">没有找到相关话题</li>
                </ul>
            </div>
        </div>
        <div ng-if="bannerTypeValue.index ==3">
            <div class="input-group">
                <label>选择擂台 : </label>
                <input type="text" autocomplete="off" class="form-control" placeholder="请选择一个擂台" ng-model="adUrl.name" ng-change="userChange1(adUrl.name)" ng-focus="showUl1()" ng-blur="hideUl1()">
                <ul class="user-ul-style__">
                    <li ng-repeat="contextItem in contextList" class="user-li-style" ng-click="changeName1(contextItem.title,contextItem.topicId)">
                        {{contextItem.title}}
                    </li>
                    <li ng-show="!contextList.length">没有找到相关擂台</li>
                </ul>
            </div>
        </div>
        <div ng-if="bannerTypeValue.index ==4">
            <div class="input-group">
                 <span class="input-group-btn">
                    <button class="btn btn-warning" type="button">广告的名称</button>
                </span>
                <input type="text" ng-model="adUrl.name" class="form-control" placeholder="广告的名称">
            </div>
            <div class="input-group">
                 <span class="input-group-btn">
                    <button class="btn btn-warning" type="button">广告的URL</button>
                </span>
                <input type="text" ng-model="adUrl.url" class="form-control" placeholder="连接到广告的url">
            </div>
        </div>
        <div ng-if="bannerTypeValue.index ==5">
            <div class="input-group">
                <label>选择产品 : </label>
                <input type="text" autocomplete="off" class="form-control" placeholder="请选择一个产品" ng-model="adUrl.name" ng-change="userChange2(adUrl.name)" ng-focus="showU2()" ng-blur="hideU2()">
                <ul class="user-ul-style___">
                    <li ng-repeat="courseItem in courseList" class="user-li-style" ng-click="changeName(courseItem.name,courseItem.productId)">
                        {{courseItem.name}}
                    </li>
                    <li ng-show="!courseList.length">没有找到相关产品</li>
                </ul>
            </div>
        </div>
        <div ng-if="bannerTypeValue.index ==9">
            <div class="input-group">
                <label>选择文章 : </label>
                <input type="text" autocomplete="off" class="form-control" placeholder="请选择一篇文章" ng-model="adUrl.name" ng-change="userChange3(adUrl.name)" ng-focus="showU3()" ng-blur="hideU3()">
                <ul class="user-ul-style___">
                    <li ng-repeat="articleItem in articleList" class="user-li-style" ng-click="changeName(articleItem.title,articleItem.articleId)">
                        {{articleItem.title}}
                    </li>
                    <li ng-show="!articleList.length">没有找到相关文章</li>
                </ul>
            </div>
        </div>
     <!--   <div ng-if="bannerTypeValue.index ==6">
            <div class="input-group">
                 <span class="input-group-btn">
                    <button class="btn btn-warning" type="button">网页的名称</button>
                </span>
                <input type="text" ng-model="adUrl.name" class="form-control" placeholder="网页的名称">
            </div>
            <div class="input-group">
                 <span class="input-group-btn">
                    <button class="btn btn-warning" type="button">网页的URL</button>
                </span>
                <input type="text" ng-model="adUrl.url" class="form-control" placeholder="连接到网页的url">
            </div>
        </div>-->
        <img style="margin-top: 20px" ng-hide="banner.pic" ng-src="{{banner.picUrl}}" class="upload-img-big" err-src="app/img/error-err.png" alt="缩略图图片" title="更换图片"/>
        <a class="cursor-p" ng-click=""><img ng-class="banner.pic==''?'':'upload-img-big' "   ngf-src="banne.pic"ngf-background="banner.pic" /></a>
        <a style="margin-top: 20px" class="btn btn-primary center-block" ngf-select ng-model="banner.pic" ngf-pattern="'image/*'"  ngf-max-size="20MB" ngf-min-height="1">从本地选择图片</a >
     <!--   <p style="color: red;margin-top: 20px;" class="text-center">推荐上传1920px x 580px的图片</p>-->
        <p ng-bind="banner.pic.name"></p>
    </div>
    <div class="panel-footer bg-white text-right">
        <button type="button" class="btn btn-default" ng-click="closeThisDialog()">关闭</button>
        <button type="button" class="btn btn-primary" ng-click="doTrue(bannerTypeValue.index)">确认</button>
    </div>
</div>