<div class="panel">
    <div class="panel-heading">
        <h4 class="modal-title" ng-bind-html="alterTitle"></h4>
    </div>
    <div class="panel-body">
        <input type="radio" value="1" name="type" ng-model="radioType" required> : 置顶全部领域
        <input type="radio" value="2" name="type" ng-model="radioType" required> : 置顶其所在领域
        <p class="redBorder" ng-if="!radioType">此项不能为空</p>
    </div>
    <div class="panel-footer bg-white text-right">
        <button type="button" class="btn btn-default" ng-click="closeThisDialog()">关闭</button>
        <button type="button" class="btn btn-primary" ng-click="updateTrue(radioType)">确认</button>
    </div>
</div>