<div class="panel">
    <div class="panel-heading">
        <h4 class="modal-title" ng-bind-html="sortTitle"></h4>
    </div>
    <div class="panel-body">
        <span>当前位置 : {{nowSortNum}}</span>
    </div>
    <div class="panel-body">
        <form class="form-inline">
            <div class="form-group">
                <label for="">插队 : </label>
                <select class="custom-css form-control"  ng-model="num"  ng-options="num.index for num in numSelectValue" >
                </select>
            </div>
        </form>
    </div>
    <div class="panel-footer bg-white text-right">
        <button type="button" class="btn btn-default" ng-click="closeThisDialog()">关闭</button>
        <button type="button" class="btn btn-primary" ng-click="doTrue(num)">确认</button>
    </div>
</div>