<div class="panel">
	<div class="panel-heading">
		<h4 class="modal-title" ng-bind-html="updateInterfaceTitle"></h4>
	</div>
	<div class="panel-body">
		<form class="form-horizontal">
			<div class="form-group has-feedback" ng-class="updateInterfaceInfo?'':'has-error' ">
				<label for="inputInterfaceInfo" class="col-sm-2 control-label">介绍</label>
				<div class="col-sm-10">
					<input type="text" ng-model="updateInterfaceInfo" class="form-control" id="inputInterfaceInfo" placeholder="接口介绍">
					<span class="form-control-feedback" ng-show="!updateInterfaceInfo"><i class="fa fa-times"></i></span>
				</div>
			</div>
			<div class="form-group has-feedback" ng-class="updateInterfaceUrl?'':'has-error' ">
				<label for="inputInterfaceUrl" class="col-sm-2 control-label">地址</label>
				<div class="col-sm-10">
					<input type="text" ng-model="updateInterfaceUrl" class="form-control" id="inputInterfaceUrl" placeholder="接口地址">
					<span class="form-control-feedback" ng-show="!updateInterfaceUrl"><i class="fa fa-times"></i></span>
				</div>
			</div>
			<div class="form-group has-feedback">
				<label for="" class="col-sm-2 control-label">类型</label>
				<div class="col-sm-10">
					<select class="custom-css form-control"  ng-model="updateInterfaceTypeValue" ng-options="updateInterfaceTypeValue._value_ for updateInterfaceTypeValue in interfaceTypes" >
					</select>
				</div>
			</div>
			<div class="form-group has-feedback">
				<label for="" class="col-sm-2 control-label">部门权限</label>
				<div class="col-sm-10">
					<select class="custom-css form-control"  ng-model="updateSectionTypeItem" ng-options="updateSectionTypeItem._value_ for updateSectionTypeItem in sectionTypes" >
					</select>
				</div>
			</div>
		</form>
	</div>
	<div class="panel-footer bg-white text-right">
		<button type="button" class="btn btn-default" ng-click="closeThisDialog()">关闭</button>
		<button type="button" class="btn btn-primary" ng-click="updateInterface(updateInterfaceInfo,updateInterfaceUrl,updateInterfaceTypeValue,updateSectionTypeItem)">确认</button>
	</div>
</div>