<div class="panel">
	<div class="panel-heading">
		<h4 class="modal-title" ng-bind-html="addSectionTitle"></h4>
	</div>
	<div class="panel-body">
		<form class="form-horizontal">
			<div class="form-group has-feedback" ng-class="sectionName?'':'has-error' ">
				<label for="inputSectionName" class="col-sm-3 control-label">部门名</label>
				<div class="col-sm-9">
					<input type="text" ng-model="sectionName" class="form-control" id="inputSectionName" placeholder="部门名">
					<span class="form-control-feedback" ng-show="!sectionName"><i class="fa fa-times"></i></span>
				</div>
			</div>
			<div class="form-group has-feedback" ng-class="sectionInfo?'':'has-error' ">
				<label for="inputSectionInfo" class="col-sm-3 control-label">介&nbsp;&nbsp;&nbsp;&nbsp;绍</label>
				<div class="col-sm-9">
					<input type="text" ng-model="sectionInfo" class="form-control" id="inputSectionInfo" placeholder="输入介绍">
					<span class="form-control-feedback" ng-show="!sectionInfo"><i class="fa fa-times"></i></span>
				</div>
			</div>
		</form>
	</div>
	<div class="panel-footer text-right bg-white">
		<button type="button" class="btn btn-default" ng-click="closeThisDialog()">取消</button>
		<button type="button" class="btn btn-primary" ng-click="addCmsSection(sectionName,sectionInfo)">确认</button>
	</div>
</div>
