<div class="panel">
	<div class="panel-heading">
		<h4 class="modal-title" ng-bind-html="updateCmsSectionTitle"></h4>
	</div>
	<div class="panel-body">
		<form class="form-horizontal">
			<div class="form-group has-feedback" ng-class="updateSectionName?'':'has-error' ">
				<label for="inputUpdateSectionName" class="col-sm-3 control-label">部门名</label>
				<div class="col-sm-9">
					<input type="text" ng-model="updateSectionName" class="form-control" id="inputUpdateSectionName" placeholder="输入新的部门名">
					<span class="form-control-feedback" ng-show="!updateSectionName"><i class="fa fa-check"></i></span>
				</div>
			</div>
			<div class="form-group has-feedback" ng-class="updateSectionInfo?'':'has-error' ">
				<label for="inputUpdateSectionInfo" class="col-sm-3 control-label">介&nbsp;&nbsp;&nbsp;&nbsp;绍</label>
				<div class="col-sm-9">
					<input type="text" ng-model="updateSectionInfo" class="form-control" id="inputUpdateSectionInfo" placeholder="输入新介绍">
					<span class="form-control-feedback" ng-show="!updateSectionInfo"><i class="fa fa-times"></i></span>
				</div>
			</div>
		</form>
	</div>
	<div class="panel-footer text-right bg-white">
		<button type="button" class="btn btn-default" ng-click="closeThisDialog()">取消</button>
		<button type="button" class="btn btn-primary" ng-click="updateCmsSection(updateSectionName,updateSectionInfo)">确认</button>
	</div>
</div>