<div class="panel">
    <div class="panel-heading">
        <h4 class="modal-title" ng-bind-html="alterTitle"></h4>
    </div>
    <div class="panel-body">
        <label>更新说明 :</label>
        <textarea ng-model="updateTips" rows="10" class="form-control"></textarea>
    </div>
    <div class="panel-body">
        <label>下载地址 :</label>
        <input class="form-control" ng-model="updateUrl" type="text"/>

    </div>
    <div class="panel-footer bg-white text-right">
        <button type="button" class="btn btn-default" ng-click="closeThisDialog()">关闭</button>
        <button type="button" class="btn btn-primary" ng-click="doTrue(updateTips,updateUrl)">确认</button>
    </div>
</div>