<div class="panel">
    <div class="panel-heading">
        <h4 class="modal-title" ng-bind-html="moveFieldTitle"></h4>
    </div>
    <div class="panel-body">
        <form class="form-inline">
            <div class="form-group">
                <label for="">请选择 : </label>
                <select class="custom-css form-control"  ng-model="fieldSelectValueAll"  ng-options="fieldSelectValueAll.name for fieldSelectValueAll in realmListAll" >
                </select>
            </div>
        </form>
    </div>
    <div class="panel-footer bg-white text-right">
        <button type="button" class="btn btn-default" ng-click="closeThisDialog()">关闭</button>
        <button type="button" class="btn btn-primary" ng-click="moveFieldTrue(fieldSelectValueAll.realmId)">确认</button>
    </div>
</div>