﻿@charset "utf-8";
/* 移动端全局设置 请勿修改 */
html{
    -webkit-text-size-adjust:100%;
    height:100%;
    font-size:22px;
    overflow-x:hidden; }
div,span,a,header,footer {
    -webkit-tap-highlight-color:rgba(255,255,255,0);
}
body{
    background:#fff;
    line-height:1;
    font-family:'PingHei', 'PingFang SC','DroidSansFallback','Microsoft Yahei','Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', sans-serif;
    word-break:break-all;
    word-wrap:break-word;
    min-width:320px;
    max-width:640px;
    overflow-x:hidden;
    overflow-y:auto;
    margin:0 auto;
    padding:0;
    font-size:.7rem;
    text-align:center;
}
ul,li {margin:0; padding:0; list-style-type:none; }
.clear:after {clear:both; content:'.'; display: block; visibility:hidden; height:0; overflow:hidden; }
.clear{zoom:1; clear:both;}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {margin:0; padding:0; border:0; font-size:100%;  vertical-align:baseline; }
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block; }
ol,ul,li {list-style:none;} img {vertical-align:top; max-width:100%; }
h1,h2,h3,h4,h5,h6 {font-weight:normal; }
table {border-collapse:collapse; border-spacing:0; }
* {
    tap-highlight-color:rgba(0,0,0,0);
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -ms-tap-highlight-color:rgba(0,0,0,0); -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; box-sizing:border-box; padding:0; }
input, textarea {font-size:.8rem; outline:0; resize:none; border:0; -webkit-appearance:none; font-family:'PingHei', 'PingFang SC','DroidSansFallback','Microsoft Yahei','Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', sans-serif; display:inline-block; }
input::-webkit-input-placeholder {font-weight:normal; font-size:.82rem; color:#ccc; line-height:1.8em;}
input[type="password"]::-webkit-input-placeholder {font-weight:normal; font-size:.82rem; color:#ccc; line-height:1.5em;}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button{-webkit-appearance:none !important; margin:0; }
a {text-decoration:none; cursor: pointer; } i,em {display:inline-block;font-style:normal; }
.c_green {color:#66ce18; } .c_orange {color:#ffc800; } .c_red {color:#ff3600;  } .c_gray {color:#b9b9b9; }
.parbot input[type='button'].button_red, input[type='button'].button_red {background:#fd5653; cursor:pointer; }
/*　移动端全局设置 End　*/
/*============================ht本项目全局设置========================================================================*/
/*加入会员按钮*/
.courseImg{
    width:86%;
    margin:.3rem 7%;
    height:2.5rem;
    display:none;
}
.hide{
    display:none;
}
.courseImg>img{
     float:left;
    width:2.4rem;
    height:2.4rem;
    border-radius: 50%;
}
.courseImg>ul{
    float:left;
    margin-left:.4rem;
}
.courseImg>ul>li{
    text-align: left;
    color:#000;
}
.courseImg>ul>li:first-child{
    margin-top:.35rem;
    font-size: .75rem;
    font-family: "Microsoft YaHei", "微软雅黑", "宋体";
    margin-bottom: .6rem;
}
.courseImg>ul>li:nth-child(2){
    font-size: .5rem;
}
.parbot {
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    width:87%;
    margin: 0 6.5%;
    display:none;
}
.loginTrans{
    position:absolute;
    top:90%;
    left:50%;
    margin-left:-0.8rem;
    font-size: 0.8rem;
    color:#0AC2C7;
    cursor:pointer;
}
.registerTrans{
    position:absolute;
    top:90%;
    left:50%;
    margin-left:-1.6rem;
    font-size: 0.8rem;
    color:#0AC2C7;
    cursor:pointer;
}
.joinMember{
    width: 100%;
    background: #fd5653;
    border-radius: 1rem;
    height: 2rem;
    line-height: 2rem;
    display: block;
    color: #fff;
    font-size: .9rem;
    vertical-align: middle;
}
/*注册登录按钮*/
.parbot1{
    margin: 0px 1.35rem;
}
.login_register{
    width: 100%;
    background: #80E9EC;
    border-radius: 7px;
    height: 2.2rem;
    line-height: 2.2rem;
    display: block;
    color: #fff;
    vertical-align: middle;
    cursor: pointer;
}
img.logo{
    width:3.1rem;
    height:3.1rem;
    margin-top:2.5rem;
}
#j_form3>ul{
    overflow: hidden;
    margin-top:1.4rem;
    margin-bottom: .9rem;
    padding: 0px 1.35rem 0px 1.35rem;
    position: relative;
}
#j_form3>ul>li{
    text-align: left;
    display: flex;
    align-items: center;
    margin-top:1rem;
    padding-top: .1rem;
    /*margin-bottom: -1px;*/
    height: 2.4rem;
    line-height: 2.3rem;
    border-bottom:1px solid #F4F4F4;
}
#j_form3>ul>li:first-child{
    border-bottom-color:#0AC1C5;
}
/*图标*/
#j_form3>ul>li>i{
    float: left;
    margin-left: 0.5rem;
    margin-top: -.1rem;
}
#j_form3>ul>li>i.phone_icon {
    width: 0.9rem;
    height: 1rem;
    background: url(../img/h5/ren.png) no-repeat center top;
    background-size: 100%;
}
#j_form3>ul>li>i.phone_icon1 {
    width: 0.9rem;
    height: 1rem;
    background: url(../img/h5/ren1.png) no-repeat center top;
    background-size: 100%;
}
#j_form3>ul>li>i.password_icon {
    width: 0.75rem;
    height: 0.925rem;
    margin-left: .575rem;
    margin-right: 0.075rem;
    background: url(../img/h5/suo.png) no-repeat center top;
    background-size: 100%;
}
#j_form3>ul>li>i.password_icon1 {
    width: 0.75rem;
    height: 0.925rem;
    margin-left: .575rem;
    margin-right: 0.075rem;
    background: url(../img/h5/suo1.png) no-repeat center top;
    background-size: 100%;
}
.inputHeight{
    height:100%;
    -webkit-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
    padding-left:.95rem;
}
.inputWidth{
    width:45%;
    padding-left:.95rem;
}
/*验证码*/
.but {
    font-size: .6rem;
    border: 1px solid #F0F0F0;
    background: #FFFFFF;
    height: 70%;
    position: relative;
    right:0rem;
    top: 0rem;
    display: inline-block;
    padding-left: .6rem;
    padding-right: .6rem;
    color: #cdcdcd;
    float: right;
    cursor: pointer;
}
.showLoading {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:3999;
}
.showLoadingBody {
    position: fixed;
    background: #111;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    min-width: 200px;
    padding: 10px;
    color: #fff;
    z-index: 3999;
}

.showLoadingBody p{
    font-size:.7rem;
    line-height:1.6;
}
/************************************************************会员说明**************************************************************************/
.memDes{
    position: relative;
    width:100%;
    min-height: 225px;
    background-color: #292326;
}
.memDes>img{
    width:5.25rem;
    height:4.85rem;
    position: absolute;
    top:3.2rem;
    right:1.35rem;
}
.memDes>p.p1{
    position:absolute;
    top:.65rem;
    left:.75rem;

}
.memDes>p.p1>span{
    font-size: .8rem;
    color:#cdcdcd;
}
.memDes>p.p1>img{
    width:1.6rem;
    height:1.1rem;
    margin-right:.5rem;
}
.memDes>p.p2{
    position:absolute;
    top:4.25rem;
    left:2.515rem;
}
.memDes>p.p2>b{
    font-size: 2.25rem;
    color:#cdcdcd
}
.memDes>p.p2>i{
    font-size: .92rem;
    color:#cdcdcd
}
.memDes>p.p3{
    position:absolute;
    top:6.25rem;
    left:2.7rem;
}
.memDes>p.p3>i{
    font-size: .75rem;
    color:#707070;
    text-decoration: line-through;
}
.memDes>p.p4{
    position:absolute;
    bottom:.7rem;
    left:.75rem;
    height:1rem;
    line-height: 1rem;
}
.memDes>p.p4>span{
    margin-left: .5rem;
    color:#e4e4e4;
    font-size: .65rem;
}
.memDes>p.p4>img{
    vertical-align: middle;
    width:.75rem;
    height:.7rem;
}
.memDes1{
    border-bottom: .5rem solid #f9f9f9;
    padding-bottom:.5rem;
}
.memDes1>p.p5{
    margin: .6rem;
    height:1.8rem;
    border-bottom:1px solid #ddd;
    line-height: 1.8rem;
}
.memDes1>p.p5>span{
    display: inline-block;
    background: url('../img/h5/huiyuan@2x.png') right no-repeat;
    background-size:  .575rem .75rem ;
    padding-right:1.075rem;
    font-size: .75rem;
    color:#000;
    font-weight:bold ;
    float:left;
}
.memDes1>p.p5>img{
    width:4.2rem;
    height:1.8rem;
    float:right;
}
/*.memDes1>p.p6{*/
    /*font-size: .35rem;*/
    /*color:#000;*/
/*}*/
.memDes1>pre.p7{
    clear:both;
    margin-top:.8rem;
    font-size: .65rem;
    line-height: 1rem;
    padding:0 .6rem 0 .6rem;
    color:#232323;
    text-align: left;
}
pre{
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}
/*w微信支付宝支付*/
#pay_money>ul{
    overflow: hidden;
    margin-bottom: 3.5rem;
    padding: 0px .6rem 0px .6rem;
    position: relative;
    border-bottom: .5rem solid #f9f9f9;
}
#pay_money>ul>li{
    text-align: left;
    display: flex;
    align-items: center;
    padding-top: .1rem;
    height: 2.5rem;
    line-height: 1.4rem;
    border-top: 1px solid #ddd;
    position: relative;
}
#pay_money>ul>li:first-child{
    font-size: .75rem;
    color: #000;
    height: 2.25rem;
    font-weight: bold;
    border-top: none;
}

#pay_money>ul>li>span{
    color:#000;
    font-size: .75rem;
}
#pay_money>ul>li>span.span1{
    margin-left:.6rem;
}
#pay_money>ul>li>span.span2{
    margin-left:.65rem;
}
/*图标*/
#pay_money>ul>li>i.select{
    float: right;
    width: .75rem;
    height: .75rem;
    background: url(../img/h5/choose.png) no-repeat center top;
    background-size: 100%;
    position: absolute;
    right:0rem;
}
#pay_money>ul>li>i.select1{
    float: right;
    width: .75rem;
    height: .75rem;
    background: url(../img/h5/nochoose.png) no-repeat center top;
    background-size: 100%;
    position: absolute;
    right:0rem;
}
#pay_money>ul>li>i.zhifubao {
    float: left;
    width: .85rem;
    height: .85rem;
    margin-left:0.05rem;
    background: url(../img/h5/zhifubao.png) no-repeat center top;
    background-size: 100%;
}
#pay_money>ul>li>i.weixin{
    float: left;
    width: .925rem;
    height: .825rem;
    background: url(../img/h5/weixin.png) no-repeat center top;
    background-size: 100%;
}
.parbot2{
    position: fixed;
    bottom:0;
    left:0;
    right:0;
}
.immediate_payment{
    width: 100%;
    background: #FFA044;
    height: 2.5rem;
    line-height: 2.5rem;
    display: block;
    color: #fff;
    vertical-align: middle;
    font-size: .9rem;
}
/**************************************************登录失败****************************************************************************/
.login_fail>img{
    margin-top:7.15rem;
    width:8rem;
    height:8.375rem;
}
.login_fail>p{
    margin-top:0.75rem;
    font-size: 0.55rem;
    color:#6f6f6f;
}
/**************************************************注册失败****************************************************************************/
.register_fail>img{
    margin-top:7.15rem;
    width:8rem;
    height:7.65rem;
}
.register_fail>p{
    margin-top:0.75rem;
    font-size: 0.55rem;
    color:#6f6f6f;
}
/**************************************************支付失败****************************************************************************/
.pay_fail>img{
    margin-top:7.15rem;
    width:8rem;
    height:7.5rem;
}
.pay_fail>p{
    margin-top:0.75rem;
    font-size: 0.55rem;
    color:#6f6f6f;
}
/**************************************************支付成功****************************************************************************/
.pay_success>img{
    margin-top:7.15rem;
    width:9.525rem;
    height:8.325rem;
}
.pay_success>p{
    width: 10rem;
    height:1.5rem;
    background-color: #39F6FA;
    color:#fff;
    font-size: .7rem;
    line-height: 1.5rem;
    border-radius: .2rem;
    margin-top:0.75rem;
    position: relative;
    left:50%;
    margin-left:-5rem;
}
/**************************************************app里面的说明****************************************************************************/
.app_description>p{
    color:#181818;
    font-size: .95rem;
    margin-top: 1rem;
    padding-bottom: .25rem;
}
.app_description>ul>li{
    margin:0 .75rem;
}
.app_description>ul>li:first-child{
    margin-top:1.5rem;
}
.app_description>ul>li>p.p1{
    text-align: left;
    margin-top:1.3rem;
    font-size: .9rem;
    line-height: 1.2rem;
    font-weight: 700;
}
.app_description>ul>li>p.p2{
    text-align: left;
    margin-top:.6rem;
    font-size: .85rem;
    line-height: 1.15rem;
}
.app_description>div{
    text-align: right;
    font-size: 1rem;
    font-weight: bold;
    margin:1.5rem .75rem 1rem 0;
}
/*收入说明*/
.app_description1>p{
    color:#181818;
    font-size: .95rem;
    margin-top: 1rem;
    padding-bottom: .25rem;
}
.app_description1>ul>li{
    margin:0 .75rem;
}
.app_description1>ul>li:last-child{
    margin-bottom:2rem;
}
.app_description1>ul>li>p.p1{
    text-align: left;
    margin-top:.75rem;
    font-size: .9rem;
    line-height: 1.2rem;
}
.app_description1>ul>li>p.p2{
    text-align: left;
    margin-top:.6rem;
    font-size: .85rem;
    line-height: 1.15rem;
}
.app_description1>div{
    text-align: right;
    margin-top:1rem;
    font-size: 1rem;
    font-weight: bold;
    margin-right:.75rem;
}