
<h3>{{rootColumnName}}
    <small>{{rootColumnPrompt}}</small>
</h3>
<div  ng-controller="classTeacherCtrl" class="panel panel-default">
    <div class="panel-heading">
        <form class="form-inline" style="margin-top: 20px">
            <div class="form-group">
                <input type="text" ng-keyup="dataEvent($event)" ng-model="searchKey" class="form-control" style="width: 250px" placeholder="{{searchplaceholder}}">
            </div>
        </form>
    </div>
    <div class="panel-body " ng-class="loading?'whirl standard':'' " style="border-top: 1px solid #CFDBE2;">
        <table class="table table-striped table-condensed">
            <thead>
            <tr>
                <th>姓名</th>
                <th>日课数量</th>
                <th>总收入</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <!-- repeat begin -->
            <tr ng-repeat="userItem in userTeacherList">
                <td>{{userItem.name | null_value_filter}}</td>
                <td>{{userItem.courseCount | null_value_filter}}</td>
                <td>{{userItem.money}}</td>
                <td>
                    <a tooltip="查看" tooltip-trigger="mouseenter" class="btn btn-xs btn-primary" ui-sref="cms.mobileUserDetail({ userId : userItem.userWithPropertiesCmsOut.user.userId, areaCode : regionStatus(), positionId : positionStatus(), industyId : industryStatus(), realmId : fieldSelectValue.realmId, searchKey : searchKey, sortType : sortSelectValue.sortType, page : turnPage.currentPage, size : pageSelectValue.pageType})"><i class="fa fa-eye"></i></a>
                    <a tooltip="日课列表" tooltip-trigger="mouseenter" class="btn btn-xs btn-success" ui-sref="cms.classList({userId:userItem.userId,name:userItem.name})"><i class="fa fa-user-times"></i></a>
                    <a tooltip="收入情况" tooltip-trigger="mouseenter" class="btn btn-xs btn-danger" ui-sref="cms.incomeSituation({userId:userItem.userId,name:userItem.name})"><i class="fa fa-money"></i></a>
                </td>
            </tr>
            <!-- repeat end -->
            </tbody>
        </table>
        <p style="display: inline-block; margin:21px 0;height: 30px;line-height: 30px;"> 显示 <strong>{{turnPage.totalItems}}</strong> 条中的 <strong>{{turnPage.itemsPerPage*(turnPage.currentPage-1)+1}}-{{ToNum}}</strong> 条</p>
        <pagination class="pull-right" first-text="{{turnPage.firstText}}" previous-text="{{turnPage.previousText}}" next-text="{{turnPage.nextText}}" last-text="{{turnPage.lastText}}" total-items="turnPage.totalItems" ng-model="turnPage.currentPage" max-size="turnPage.maxSize"
                    num-pages="numPages" boundary-links="true" ng-change="dataChange()" class="pagination-sm">
        </pagination>
    </div>
</div>