
<!--
	user list !
-->
<h3>{{rootColumnName}}
    <small>{{rootColumnPrompt}}</small>
</h3>
<div  ng-controller="blackListCtrl" class="panel panel-default">
    <div class="panel-heading">
        <form class="form-inline">
            <div class="form-group">
                <label for="">{{regionSelectName}} : </label>
                <select class="custom-css form-control" ng-model="regionSelectValue" ng-change="dataChange_1()" ng-options="regionSelectValue.name for regionSelectValue in regionTypes"></select>
                <select style="width: 100px" class="custom-css form-control" ng-model="regionSelectValue_2" ng-change="dataChange()" ng-options="regionSelectValue_2.name for regionSelectValue_2 in regionSelectValue.cityList"></select>
            </div>
            <div class="form-group col-md-offset-1">
                <label for="">{{industrySelectName}} : </label>
                <select class="custom-css form-control" ng-model="industrySelectValue" ng-change="dataChange_2()" ng-options="industrySelectValue.name for industrySelectValue in industyList"></select>
                <select class="custom-css form-control" ng-model="industrySelectValue_2" ng-change="dataChange()" ng-options="industrySelectValue_2.name for industrySelectValue_2 in industrySelectValue.children"></select>
            </div>
           <!-- <div class="form-group col-md-offset-1">
                <label for="">{{positionSelectName}} : </label>
                <select class="custom-css form-control" ng-model="positionSelectValue" ng-change="dataChange_3()" ng-options="positionSelectValue.name for positionSelectValue in jobPositionList"></select>
                <select class="custom-css form-control" ng-model="positionSelectValue_2" ng-change="dataChange()" ng-options="positionSelectValue_2.name for positionSelectValue_2 in positionSelectValue.children"></select>
            </div>-->
        </form>
        <form class="form-inline" style="margin-top: 20px">
            <div class="form-group">
                <label for="">{{fieldSelectName}} : </label>
                <select class="custom-css form-control"  ng-model="fieldSelectValue" ng-change="dataChange()" ng-options="fieldSelectValue.name for fieldSelectValue in realmList" >
                </select>
                <label for="searchInput"></label>
                <input type="text" ng-keyup="dataEvent($event)" ng-model="searchKey" class="form-control" style="width: 400px" id="searchInput" placeholder="{{searchplaceholder}}">
            </div>
        </form>
    </div>
    <div class="panel-body " ng-class="loading?'whirl standard':'' " style="border-top: 1px solid #CFDBE2;">
        <table class="table table-striped table-condensed">
            <thead>
            <tr>
                <th>姓名</th>
                <th>幸会号</th>
                <th>手机号</th>
                <th>公司</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <!-- repeat begin -->
            <tr ng-repeat="userItem in mobileUserList ">
                <td>{{userItem.user.name  | null_value_filter}}</td>
                <td>{{userItem.imeetId  | null_value_filter}}</td>
                <td>{{userItem.user.phoneNo}}</td>
                <td>{{userItem.companyName  | null_value_filter}}</td>
                <td>
                    <a tooltip="查看" tooltip-trigger="mouseenter" class="btn btn-xs btn-primary" ui-sref="cms.userDetail({ appUserId : userItem.user.userId})"><i class="fa fa-eye"></i></a>
                    <button tooltip="移除黑名单" tooltip-trigger="mouseenter" class="btn btn-xs btn-warning" ng-click="removeBlackList(userItem.user.userId)"><i class="fa fa-trash-o"></i></button>
                </td>
            </tr>
            <!-- repeat end -->
            </tbody>
        </table>
        <p style="display: inline-block; margin:21px 0;height: 30px;line-height: 30px;"> 显示 <strong>{{turnPage.totalItems}}</strong> 条中的 <strong>{{turnPage.itemsPerPage*(turnPage.currentPage-1)+1}}-{{ToNum}}</strong> 条</p>
        <pagination class="pull-right" first-text="{{turnPage.firstText}}" previous-text="{{turnPage.previousText}}" next-text="{{turnPage.nextText}}" last-text="{{turnPage.lastText}}" total-items="turnPage.totalItems" ng-model="turnPage.currentPage" max-size="turnPage.maxSize"
                    num-pages="numPages" boundary-links="true" ng-change="dataChange()" class="pagination-sm">
        </pagination>
    </div>
</div>