<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>i幸会官网--学实战营销,上i幸会</title>
	<meta name="description" content="营销人专属学习平台，从问答到日课，从资讯到文章，汲取众家思想之长，让你身在市场仍能不断成长。" />
    <meta name="keywords" content="i幸会官网,i幸会,i幸会app,市场营销,营销技巧,营销培训,数字营销,量子营销,营销课程,营销案例,营销方案,营销规划,营销书籍,营销方法,营销策划,营销策略,营销心得,营销视频,营销文章,营销音频,营销社群,营销模式,内容营销,营销文案" />
    <script>
        //sessionStorage.removeItem(userId_token);
        var userId_token=sessionStorage['userId_token'];

        if(userId_token){
            var userId=userId_token.split(',')[0].split(':')[1];
            var token=userId_token.split(',')[1].split(':')[1];
            var signa=userId_token.split(',')[2].split(':')[1];
//            console.log(userId_token,userId,token,signa);
        }else{
            window.location.href='../login.html';
        }
    </script>
    <link  rel="stylesheet" href="../css/myArticle.css">
    <link rel="icon" href="../img/da.ico">
    <script src="../js/jquery-1.12.2.min.js"></script>
    <script src="../js/index.js"></script>
</head>
<body>
<div id="top">
    <div>
        <img class="logo" src="../img/logo.png" alt=""/>
        <div>
            <img class="headPic" src="" alt=""/>
            <div>
                退出
            </div>
        </div>
        <a href="http://api.ixinghui.com/ixinghui-share/article/articleH5.html#articleId=301&h5=3" target="_blank">发布标准</a>
    </div>
</div>
<section>
   <div id="content_left">

   </div>
    <ul class="ul">
        <li class="articlePublish ">
            <i></i>
            <span>发布文章</span>
        </li>
        <li class="articleMy show" >
            <i></i>
            <span>我的文章</span>
        </li>
    </ul>
    <div id="content_right">
        <div class="articleList">
            <i class="line"></i>
            <span class="span1">我的文章</span>
            <span class="span2">Article</span>
            <table class="table">
            </table>
            <div  class="load">
                <img src="../img/myArticle/loding.gif" alt=""/>
            </div>

            <div id="setpage">
                <!--<li class="active"><a href="#">1</a></li>-->
                <!--<li><a href="#">2</a></li>-->
                <!--<li><a href="#">3</a></li>-->
                <!--<li><a href="#">4</a></li>-->
            </div>
        </div>
    </div>
</section>
<footer id="footer">
    <div>
        Copyright &copy; 2017 i幸会 版权所有 All Rights Reserved 京ICP备 14008983号-4 &nbsp;客服电话:010-65882005 文章投稿：xiaobian@ixinghui.com
    </div>
</footer>
<script>
//    console.log(sessionStorage.getItem('headImage'))
    if(sessionStorage.getItem('headImage')){
        $('.headPic').attr('src',sessionStorage.getItem('headImage'));
    }
</script>
<script type="text/javascript" charset="utf-8" src="../js/myArticle.js"></script>
</body>
</html>