<!--
	column list !
-->
<h3>{{rootColumnName}}
   <small>{{rootColumnPrompt}}</small>
</h3>
<div  ng-controller="columnManageCtrl">
  	<!-- page start-->
  	<div class="row">
      	<div class="col-lg-4">
          	<div class="panel panel-default">
          		<div class="panel-heading">
          			<h3>菜单</h3>
          		</div>
          		<div class="panel-body hideInput" style="border-top: 1px solid #CFDBE2;height: 460px;">
          			<treecontrol class="tree-classic"
					   tree-model="columnList"
					   options="treeOptions"
					   on-selection="showSelected(node)"
					   selected-node="selected"
					   expanded-nodes="expandedNodes">
					    {{node.name}}
					</treecontrol>
          		</div>
          	</div>
     	</div>
     	<div class="col-lg-8">
     		<section class="panel panel-default">
     			<div class="panel-heading clearfix">
     				<h3 ng-bind="columnTittle"class="col-sm-4"></h3>
     				<form class="form-inline col-sm-8 text-right" style="margin-top: 18px;">
	     				<button type="button" ng-click="updateColumnModal(selectedColumn.columnId,selectedColumn.name,selectedColumn.url,selectedColumn.icon)" class="btn btn-labeled btn-warning" >
			               	<span class="btn-label">
			               		<i class="fa fa-pencil"></i>
			               	</span>修改
						</button>
						<button type="button" ng-click="delColumn(selectedColumn.columnId)" class="btn btn-labeled btn-danger" >
			               	<span class="btn-label">
			               		<i class="fa fa-remove"></i>
			               	</span>删除
						</button>
						<button type="button" ng-click="addColumnModal(selectedColumn.columnId,selectedColumn.level)" class="btn btn-labeled btn-success" >
			               	<span class="btn-label">
			               		<i class="fa fa-plus"></i>
			               	</span>添加
						</button>
						<button type="button" ng-show="!childColumn.length" ng-click="configInterfaceToColumnModal(selectedColumn.columnId)" class="btn btn-labeled btn-primary" >
			               	<span class="btn-label">
			               		<i class="fa fa-list"></i>
			               	</span>配置
						</button>
					</form>
     			</div>
          		<div class="panel-body" ng-class="loading?'whirl standard':'' " style=" height: 460px;overflow-y: auto;border-top: 1px solid #CFDBE2;">
          			<table ng-if="childColumn.length" class="table table-striped table-condensed">
                      	<thead>
                     		<tr>
                          		<th><i class="icon-flag"></i> 序号</th>
                          		<th ><i class="icon-list"></i> 子菜单</th>
                          		<th><i class="icon-globe"></i> 地址</th>
                          		<th class="text-center"><i class="icon-emoticon-smile"></i> 图标</th>
                          		<!--<th><i class="icon-resize-vertical" ></i> 顺序</th>-->
                          		<th><i class="icon-wrench"></i> 操作</th>
                      		</tr>
                      	</thead>
                      	<tbody>
                      	<!-- repeat begin -->
                      	<tr ng-repeat="columnItem in childColumn ">
                      		<td>{{ $index+1 }}</td>
                          	<td>{{columnItem.name}}</td>
                          	<td>{{columnItem.url}}</td>
                          	<td class="text-center"> <i ng-class="columnItem.icon"></i></td>
                          	<!--<td>{{columnItem.sort}}</td>-->
                          	<td>
                              	<a tooltip="修改" tooltip-trigger="mouseenter" class="btn btn-xs btn-warning" ng-click="updateColumnModal(columnItem.columnId,columnItem.name,columnItem.url,columnItem.icon,columnItem.prompt)"><i class="icon-pencil"></i></a>
                              	<a tooltip="删除" tooltip-trigger="mouseenter" class="btn btn-xs btn-danger" ng-click="delColumn(columnItem.columnId)"><i class="icon-trash"></i></a>
                              	<a tooltip="给栏目配置接口" tooltip-trigger="mouseenter" class="btn btn-xs btn-primary" ng-click="configInterfaceToColumnModal(columnItem.columnId)"><i class="icon-settings"></i></a>
                          	</td>
                     	 </tr>
                     	 <!-- repeat end -->
                      	</tbody>
                  	</table>
                  	<!-- table data end -->                 	
          		</div>
          	</section>
     	</div>
  	</div>
  	<!-- page end-->
</div>