<!--
	作者：495246490@qq.com
	时间：2016-04-25
	描述：params update !
-->
<h3>
	<i class="icon-file-text"></i> 修改参数文案
	<small>修改参数文案</small>
</h3>
<div class="panel panel-default" ng-controller="paramsDetailCtrl">
	
	<div class="panel-body paramsGroup">
		<div class="col-sm-12">
			<span class="col-sm-4 text-right"> 参数名 :</span>
			<i class="col-sm-8" ng-bind="paramsDetail.name"></i>
		</div>
		<div class="col-sm-12">
			<span class="col-sm-4 text-right"> 参数类型 :</span>
			<i class="col-sm-8" ng-bind="paramsDetail.type | params_type"></i>
		</div>
		<div class="col-sm-12">
			<span class="col-sm-4 text-right"> 上次更新时间 :</span>
			<i class="col-sm-8" ng-bind="paramsDetail.updateTime"></i>
		</div>
		<div class="col-sm-12">
			<span class="col-sm-4 text-right"> 参数值 :</span>
			<div class="col-sm-8">
				<input ng-change="paramsValueChange()" type="text" class="form-control" ng-model="paramsValue" />
			</div>
		</div>
	</div>
	<div class="panel-footer text-center">
		<a ng-class="valueChange?'':'disabled' " class="btn btn-square btn-lg btn-primary" ng-click="paramsValueChangeModal()" ><i class="icon-ok"></i> 更改</a>
	</div>
</div>
  