<!--
产品详情，可修改或是添加新的产品
-->
<h3>{{rootColumnName}}
   <small>{{rootColumnPrompt}}</small>
</h3>
<div ng-controller="statisticsInfoCtrl" class="panel panel-default clearfix">
	<div class="panel-heading" style="border-bottom:1px solid #dcdcdc;margin-bottom:10px;">
		<form class="form-inline">
			<div class="form-group">
				<!-- <label ng-hide="rootSectionId != 0" for="">{{selectboxname_section}} : </label>
				<select ng-hide="rootSectionId != 0" class="custom-css form-control"  ng-model="rootSection" ng-change="dataChange()" ng-options="rootSectionItem.name for rootSectionItem in rootSections" >
				</select> -->

               <div class="col-sm-6 no_line form-group">
                  <label style="margin-top:10px;" for="finalBeginDate" class="date_label col-sm-4 control-label">开始日期</label>
                  <p class="input-group col-sm-6">
                     <input s type="text" datepicker-popup="{{format}}" ng-model="finalBeginDate.date" is-open="finalBeginDate.opened" min-date="minDate"  ng-change="dataChange()" datepicker-options="dateOptions" ng-required="true" close-text="Close" class="form-control" />
                     <span class="input-group-btn">
                             <button style="height:35px"  type="button" ng-click="openFinalBeginDate($event)" class="btn btn-default">
                                <em class="fa fa-calendar"></em>
                             </button>
                          </span>
                  </p>
               </div>
               <div class="col-sm-6 no_line form-group">
                  <label style="margin-top:10px;" for="finalEndDate" class="date_label col-sm-4 control-label">结束日期</label>
                  <p class="input-group col-sm-6">
                     <input s type="text" datepicker-popup="{{format}}" ng-model="finalEndDate.date" is-open="finalEndDate.opened" min-date="finalBeginDate.date" max-date="dt"  ng-change="dataChange()" datepicker-options="dateOptions" ng-required="true" close-text="Close" class="form-control" />
                     <span class="input-group-btn">
                       <button style="height:35px"  type="button" ng-click="openFinalEndDate($event)" class="btn btn-default">
                          <em class="fa fa-calendar"></em>
                       </button>
                    </span>
                  </p>
               </div>
			</div>
		</form>
	</div>
	<div class="row" ng-class="loading?'whirl standard':'' ">
      <div class="col-md-12">
         <form  class="form-validate form-horizontal">
            <!-- START panel-->
            <div class="panel panel-default col-sm-6" style="border: none;">
               <div class="panel-title">
                  {{barData_dayLoginCount_title}}
               </div>
               <div class="panel-body">
                  <canvas barchart="" options="barOptions" data="barData_dayLoginCount" height="120" responsive="true">

                  </canvas>
               </div>
            </div>
            <!-- END panel-->
            <!-- START panel-->
            <div class="panel panel-default col-sm-6" style="border: none;">
               <div class="panel-title">
                  {{barData_dayTopicCount_title}}
               </div>
               <div class="panel-body">
                  <canvas barchart="" options="barOptions" data="barData_dayTopicCount" height="120" responsive="true">

                  </canvas>
               </div>
            </div>
            <!-- END panel-->
            <!-- START panel-->
            <div class="panel panel-default col-sm-6" style="border: none;">
               <div class="panel-title">
                  {{barData_dayArenaCount_title}}
               </div>
               <div class="panel-body">
                  <canvas barchart="" options="barOptions" data="barData_dayArenaCount" height="120" responsive="true">

                  </canvas>
               </div>
            </div>
            <!-- END panel-->
            <!-- START panel-->
            <div class="panel panel-default col-sm-6" style="border: none;">
               <div class="panel-title">
                  {{barData_dayTopicFavoriteCount_title}}
               </div>
               <div class="panel-body">
                  <canvas barchart="" options="barOptions" data="barData_dayTopicFavoriteCount" height="120" responsive="true">

                  </canvas>
               </div>
            </div>
            <!-- END panel-->
            <!-- START panel-->
            <div class="panel panel-default col-sm-6" style="border: none;">
               <div class="panel-title">
                  {{barData_dayArenaFavoriteCount_title}}
               </div>
               <div class="panel-body">
                  <canvas barchart="" options="barOptions" data="barData_dayArenaFavoriteCount" height="120" responsive="true">

                  </canvas>
               </div>
            </div>
            <!-- END panel-->
         </form>
      </div>
   </div>
</div>