<div class="panel">
	<div class="panel-heading">
		<h4 class="modal-title" ng-bind-html="addRoleTitle"></h4>
	</div>
	<div class="panel-body">
		<form class="form-horizontal">
			<div class="form-group has-feedback" ng-class="roleName?'':'has-error' ">
				<label for="inputRoleName" class="col-sm-3 control-label">角色名</label>
				<div class="col-sm-9">
					<input type="text" ng-model="roleName" class="form-control" id="inputRoleName" placeholder="角色名">
					<span class="form-control-feedback" ng-show="!roleName"><i class="fa fa-times"></i></span>
				</div>
			</div>
			<div class="form-group has-feedback" ng-class="roleInfo?'':'has-error' ">
				<label for="inputRoleInfo" class="col-sm-3 control-label">介&nbsp;&nbsp;&nbsp;&nbsp;绍</label>
				<div class="col-sm-9">
					<input type="text" ng-model="roleInfo" class="form-control" id="inputRoleInfo" placeholder="介绍">
					<span class="form-control-feedback" ng-show="!roleInfo"><i class="fa fa-times"></i></span>
				</div>
			</div>
			<div class="form-group has-feedback">
				<label for="" class="col-sm-3 control-label">属&nbsp;&nbsp;&nbsp;&nbsp;性</label>
				<div class="col-sm-9">
					<select class="custom-css form-control"  ng-model="propertyItem" ng-options="propertyItem.property for propertyItem in propertys" >
					</select>
				</div>
			</div>
		</form>
	</div>
	<div class="panel-footer bg-white text-right">
		<button type="button" class="btn btn-default" ng-click="closeThisDialog()">关闭</button>
		<button type="button" class="btn btn-primary" ng-click="addRole(roleName,roleInfo,propertyItem)">确认</button>
	</div>
</div>