<div class="panel">
	<div class="panel-heading">
		<h4 class="modal-title" ng-bind-html="configColumnToRoleTitle"></h4>
	</div>
	<div class="panel-body" style="position: relative;">
		<treecontrol class="tree-classic"
		   tree-model="columnListed"
		   options="treeOptions"
		   on-selection="showPowerSelected(node)"
		   expanded-nodes="expandedNodes">
		    {{node.name}}
		</treecontrol>
		<div class="configPower">
			<p>给接口配置权限：</p>
			<div ng-if="theNodeSelected" style="padding-left: 10px;" >
                <label class="checkbox-inline c-checkbox">
                     <input id="inlineCheckbox10" type="checkbox" ng-change="changePower(powers.create)" ng-model="powers.create" />
                     <span class="fa fa-check"></span>增</label>
                <label class="checkbox-inline c-checkbox">
                     <input id="inlineCheckbox20" type="checkbox" ng-change="changePower(powers.delete)" ng-model="powers.delete" />
                     <span class="fa fa-check"></span>删</label>
                <label class="checkbox-inline c-checkbox">
                     <input id="inlineCheckbox30" type="checkbox" ng-change="changePower(powers.update)" ng-model="powers.update" />
                     <span class="fa fa-check"></span>改</label>
                <label class="checkbox-inline c-checkbox" style="margin-left: 0;">
                     <input id="inlineCheckbox40" type="checkbox" ng-change="changePower(powers.select)" ng-model="powers.select" />
                     <span class="fa fa-check"></span>查</label>
                <label class="checkbox-inline c-checkbox">
                     <input id="inlineCheckbox50" type="checkbox" ng-change="changePower(powers.download)" ng-model="powers.download" />
                     <span class="fa fa-check"></span>下载</label>
			</div>
		</div>
	</div>
	<div class="panel-footer text-right bg-white">
		<button type="button" class="btn btn-default" ng-click="closeThisDialog()">取消</button>
		<button type="button" class="btn btn-primary" ng-click="configColumnToRole()">确认</button>
	</div>
</div>