<div class="panel">
	<div class="panel-heading">
		<h4 class="modal-title" ng-bind-html="choiceDateTitle"></h4>
	</div>
    <form class="form-inline">
        <div class="form-group">
            <div class="col-sm-12 no_line form-group">
                <label for="finalBeginDate" class="date_label col-sm-4 control-label">日期</label>
                <p class="input-group col-sm-8">
                    <input s type="text" datepicker-popup="{{format}}" ng-model="finalBeginDate.date" is-open="finalBeginDate.opened" min-date="minDate"  ng-change="dataChange()" datepicker-options="dateOptions" ng-required="true" close-text="Close" class="form-control" />
                    <span class="input-group-btn">
                        <button style="height:35px"  type="button" ng-click="openFinalBeginDate($event)" class="btn btn-default">
                            <em class="fa fa-calendar"></em>
                        </button>
                    </span>
                </p>
            </div>
        </div>
    </form>
	<div class="panel-footer text-right ">
		<button type="button" class="btn btn-info" ng-click="setIntervalUpdate()">定时更新</button>
	</div>
</div>
