<h3>影响力管理
    <small style="margin-top: 10px">新建影响力</small>
</h3>
<div ng-controller="addYxlCtrl" class="panel panel-default" >
    <form  name="addYxl" ng-submit="submitForm(addYxl.$valid)">
        <div class="form-inline panel-heading">
            <div class="form-group">
                <label for="telephone" style="width: 50px;">手机号</label>
                <input type="text" class="form-control" autocomplete="off" id="telephone"  name="name" ng-model="name" ng-change="userChange()" required ng-focus="userType = true" ng-blur="hideUl()">
                <ul ng-show="userType" class="userUlStyle">
                    <li ng-repeat="userItem in userList" class="user-li-style" ng-click="changeName(userItem.user.name,userItem.user.userId)">
                        <a class="cursor-p"><img err-src="./app/img/error-err.png" style="height:30px; border-radius: 50%; " ng-src="{{userItem.user.headURL}}"/></a>
                        {{userItem.user.name}}
                    </li>
                    <li ng-show="userType && !userList.length">没有找到相关用户</li>
                </ul>
            </div>
        </div>
        <div class="form-inline panel-heading">
            <label style="width: 50px;">方向</label>
            <select class="custom-css form-control" ng-model="derectionSelectValue" ng-change="" ng-options="derectionSelectValue._value_ for derectionSelectValue in derection" >
            </select>
        </div>
        <div class="form-inline panel-heading">
            <div class="form-group">
                <label for="count" style="width: 50px;">数量</label>
                <input type="number" min="1"  class="form-control" id="count" ng-model="score">
            </div>
        </div>
        <div class="form-inline panel-heading">
            <label style="width: 50px;">备注</label>
            <textarea ng-maxlength="100" class="form-control"  rows="3"  ng-model="bz" name="bz" required ></textarea>
            <p class="redBorder" ng-if="addYxl.bz.$error.required && addYxl.bz.$touched">输入不能为空</p>
            <p class="redBorder" ng-if="addYxl.bz.$error.maxlength && addYxl.bz.$touched">输入长度不能超过100字节</p>
        </div>
        <div class="form-inline panel-heading">
            <label>
                <input type="radio" name="optionsRadios"  value="1" ng-click="isTrue1()" ng-model="messageType" ng-checked="1" >
                不发送消息
            </label>
            <label>
                <input type="radio" name="optionsRadios"  value="2" ng-click="isTrue1()" ng-model="messageType">
                发送消息
            </label>
        </div>
        <div class="form-inline panel-heading" ng-show="visible">
            <textarea class="form-control" rows="3" ng-model="message"></textarea>
        </div>
        <div class="form-inline panel-heading">
            <button  class="btn btn-success">提交</button>
        </div>
    </form>
</div>
