<!--
	作者：495246490@qq.com
	时间：2016-04-25
	描述：参数文案列表
-->
<style>
    .have-margin {
        margin-top: 30px;
    }

    .have-margin1 {
        margin-top: 30px;
        margin-bottom: 30px;
    }
</style>
<h3>生成兑换码-幸会币
</h3>
<div class="btn-group">
    <button class="btn btn-default big-big-font" ui-sref="cms.addCoursesCode">课程</button>
    <button class="btn btn-primary big-big-font" ui-sref="cms.addMoneyCode">幸会币</button>
    <button class="btn btn-default big-big-font" ui-sref="cms.addMemberCode">会员</button>
</div>
<div ng-controller="addMoneyCodeCtrl" class="panel panel-default">
    <div class="row center-block">
        <form class=" col-xs-6 form-validate form-horizontal" name="updateForm" ng-submit="submitForm(updateForm.$valid)">
            <div class="input-group have-margin">
                <span class="input-group-addon">面额：</span>
                <input name="money" ng-model="product.money" type="text" class="form-control" required>
            </div>
            <p class="redBorder" ng-if="updateForm.money.$error.required && updateForm.money.$touched">输入不能为空</p>
            <div class="input-group have-margin">
                <span class="input-group-addon">生成数量：</span>
                <input ng-pattern="/^[1-9]\d{0,2}$|^1000$/" type="text" class="form-control" name="number" ng-model="product.number" placeholder="1~1000" required>
            </div>
            <p class="redBorder" ng-if="updateForm.number.$error.required && updateForm.number.$touched">输入不能为空</p>
            <p class="redBorder" ng-if="updateForm.number.$error.pattern && updateForm.number.$touched">输入数值需在1～1000间</p>
            <div class="input-group have-margin">
                <span class="input-group-addon">到期时间：</span>
                <input s type="text" datepicker-popup="{{format}}" name="date" ng-model="finalBeginDate.date" is-open="finalBeginDate.opened" min-date="minDate"  datepicker-options="dateOptions" ng-required="true" close-text="Close" class="form-control"  placeholder="年/月/日" required/>
                <span class="input-group-btn">
                      <button style="height:35px"  type="button" ng-click="openFinalBeginDate($event)" class="btn btn-default">
                         <em class="fa fa-calendar"></em>
                      </button>
                </span>
            </div>
            <p class="redBorder" ng-if="updateForm.date.$error.required && updateForm.date.$touched">输入不能为空</p>
            <div class="input-group have-margin">
                <span class="input-group-addon">备    注：</span>
                <input ng-maxlength="600" type="text" name="remark" class="form-control" ng-model="product.remark" required>
            </div>
            <p class="redBorder" ng-if="updateForm.remark.$error.required && updateForm.remark.$touched">输入不能为空</p>
            <p class="redBorder" ng-if="updateForm.remark.$error.maxlength && updateForm.remark.$touched">输入长度不能超过600字节</p>
            <div class="text-center have-margin1">
                <button class="btn btn-primary">确认生成</button>
            </div>
        </form>
    </div>
</div>