
<!--
	user list !
-->
<h3>{{rootColumnName}}
    <small>{{rootColumnPrompt}}</small>
</h3>
<div  ng-controller="systemMessageCtrl" class="panel panel-default">
    <form class="form-validate form-horizontal"  name="updateForm" ng-submit="submitForm(updateForm.$valid)">
        <div class="panel-heading">
            <fieldset>
                <div class="col-sm-4">
                    <label>{{regionSelectName}} :</label><i style="padding-left: 20px; color: #5d9cec" class="fa fa-2x fa-plus-square" ng-click="fnAddRegionData()"></i>

                    <div style="position: relative; margin-top: 20px;" ng-repeat="regionItem in BigRegionArr track by $index">
                        <select class="custom-css form-control" ng-model="regionSelectValue" ng-change="dataChange_1(regionSelectValue,regionItem[0].index)" ng-options="regionSelectValue.name for regionSelectValue in regionItem"></select>
                        <!--<input class="input-group form-control" type="text" ng-model="regionItem[0].model" ng-click="regionInput(regionItem[0].index)">
                        <ul ng-show="regionItem[0].onOff" class="user-ul-style" style="margin-top:36px">
                            <li ng-repeat="userItem in regionSelectValue.cityList" ng-click="regionCheckBox(userItem)" ng-class="!userItem.checked?'user-li-style':'user-li-style_'">
                                {{userItem.name}}
                            </li>
                            <li class="user-li-style" ng-click="regionItem[0].onOff=false">确认</li>
                        </ul>-->
                    </div>
                </div>
                <div class="col-sm-4">
                    <label>{{industrySelectName}} :</label><i style="padding-left: 20px; color: #5d9cec" class="fa fa-2x fa-plus-square" ng-click="fnAddIndustyData()"></i>
                    <div style="position: relative; margin-top: 20px;" ng-repeat="industyItem in BigIndustyArr track by $index">
                        <select class="custom-css form-control" ng-model="industrySelectValue" ng-change="dataChange_2(industrySelectValue,industyItem[0].index)" ng-options="industrySelectValue.name for industrySelectValue in industyItem"></select>
                        <input class="input-group form-control" type="text" ng-model="industyItem[0].model" ng-click="industyInput(industyItem[0].index)">
                        <ul ng-show="industyItem[0].onOff" class="user-ul-style" style="margin-top:36px">
                            <li ng-repeat="userItem in industrySelectValue.children" ng-click="industyCheckBox(userItem)" ng-class="!userItem.checked?'user-li-style':'user-li-style_'">
                                {{userItem.name}}
                            </li>
                            <li class="user-li-style" ng-click="industyItem[0].onOff=false">确认</li>
                        </ul>
                    </div>
                </div>
            <!--    <div class="col-sm-4">
                    <label>{{positionSelectName}} :</label><i style="padding-left: 20px; color: #5d9cec" class="fa fa-2x fa-plus-square" ng-click="fnAddPositionData()"></i>
                    <div style="position: relative; margin-top: 20px;" ng-repeat="positionItem in BigPositionArr track by $index">
                        <select class="custom-css form-control" ng-model="positionSelectValue" ng-change="dataChange_3(positionSelectValue,positionItem[0].index)" ng-options="positionSelectValue.name for positionSelectValue in positionItem"></select>
                        <input class="input-group form-control" type="text" ng-model="positionItem[0].model" ng-click="positionInput(positionItem[0].index)">
                        <ul ng-show="positionItem[0].onOff" class="user-ul-style" style="margin-top:36px">
                            <li ng-repeat="userItem in positionSelectValue.children" ng-click="positionCheckBox(userItem)" ng-class="!userItem.checked?'user-li-style':'user-li-style_'">
                                {{userItem.name}}
                            </li>
                            <li class="user-li-style" ng-click="positionItem[0].onOff=false">确认</li>
                        </ul>
                    </div>
                </div>-->
            </fieldset>
            <fieldset>
                <div class="panel panel-danger col-lg-8 col-lg-offset-2 no-padding-l-r">
                    <div class="panel-heading"><h4 class="text-center">用户所在领域</h4></div>
                    <div class="panel-body">
                        <label class="my-checkbox" ng-repeat="userItem in realmList" ng-click="userItem.fnChecked = !userItem.fnChecked" ng-class="userItem.fnChecked?'my-checkbox my-checkbox_active_l':'my-checkbox'">
                            <span>{{userItem.name}}</span>
                        </label>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="panel-body " style="border-top: 1px solid #CFDBE2;">
            <fieldset>
                <div class="input-group col-lg-offset-2">
                    <select class="custom-css form-control" ng-model="insertSelectValue" ng-click="isTrue()" ng-options="insertSelectValue._value_ for insertSelectValue in insert" >
                    </select>
                </div>
            </fieldset>
            <fieldset ng-show="select1">
                <div class="input-group col-lg-offset-2">
                    <textarea style="resize: vertical" rows="5" cols="100" ng-maxlength="200" class="form-control" ng-model="content" name="content" ng-required="select1"></textarea>
                    <p class="redBorder" ng-if="updateForm.content.$error.required && updateForm.content.$touched">输入不能为空</p>
                    <p class="redBorder" ng-if="updateForm.content.$error.maxlength && updateForm.content.$touched">不能超过200字</p>
                </div>
            </fieldset>
            <fieldset ng-show="select2">
                <div class="input-group col-lg-offset-2">
                    <img style="margin-top: 20px" ng-hide="banner.pic" ng-src="{{banner.picUrl}}" class="upload-img-big1" err-src="app/img/error-err.png" alt="缩略图图片" title="更换图片"/>
                    <a class="cursor-p" ng-click=""><img ng-class="banner.pic==''?'':'upload-img-big' "   ngf-src="banner.pic"ngf-background="banner.pic" ng-required="select2"/></a>
                    <a style="margin-top: 20px" class="btn btn-primary center-block" ngf-select ng-model="banner.pic" ngf-pattern="'image/*'"  ngf-max-size="20MB" ngf-min-height="1" ng-required="select2">从本地选择图片</a >
                    <p ng-bind="banner.pic.name"></p>
                </div>
            </fieldset>
            <fieldset ng-show="select2">
                <div class="input-group col-lg-offset-2" >
                    <select class="custom-css form-control center-block" ng-model="selSelectValue" ng-change="dataChange()" ng-options="selSelectValue.type for selSelectValue in selType"></select>
                    <!--<select class="custom-css form-control"  ng-model="bannerTypeValue" ng-change="dataChange()" ng-options="bannerTypeValue._value_ for bannerTypeValue in typeList" >-->
                    <!--</select>-->
                </div>
            </fieldset>
            <fieldset ng-show="select2">
                <div class="input-group col-lg-offset-2">
                    <!--<label>内容链接 : </label>-->
                    <!--<input type="text" autocomplete="off" class="form-control" placeholder="内容链接" ng-model="contentUrl" ng-change="userChange()" ng-focus="userType = true" ng-blur="hideUl()"/>-->
                    <!--<ul ng-show="userType" class="user-ul-style_">-->
                        <!--<li ng-repeat="userItem in topicList" class="user-li-style" ng-click="changeName(userItem.title,userItem.topicId)">-->
                            <!--{{userItem.title}}-->
                        <!--</li>-->
                        <!--<li ng-show="userType && !topicList.length">没有找到相关话题/擂台</li>-->
                    <!--</ul>-->
                    <div ng-if="selSelectValue.index ==0">
                        <div class="input-group">
                            <label>选择问答 : </label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="请选择一个问答" ng-model="adUrl.name" ng-change="userChange(adUrl.name)" ng-focus="showUl()" ng-blur="hideUl()" ng-required="select2&&selSelectValue.index ==0">
                            <ul ng-click="hideUl()" class="user-ul-style_">
                                <li ng-repeat="topicItem in topicList" class="user-li-style" ng-click="changeName(topicItem.title,topicItem.topicId)">
                                    {{topicItem.title}}
                                </li>
                                <li style="padding:5px 10px"  ng-show="!topicList.length">没有找到相关问答</li>
                            </ul>
                        </div>
                    </div>
                    <div ng-if="selSelectValue.index ==1">
                        <div class="input-group">
                            <label>选择擂台 : </label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="请选择一个擂台" ng-model="adUrl.name" ng-change="userChange1(adUrl.name)" ng-focus="showUl1()" ng-blur="hideUl1()" ng-required="selSelectValue.index ==1">
                            <ul ng-click="hideUl1()" class="user-ul-style__">
                                <li ng-repeat="contextItem in contextList" class="user-li-style" ng-click="changeName(contextItem.title,contextItem.topicId)">
                                    {{contextItem.title}}
                                </li>
                                <li style="padding:5px 10px"  ng-show="!contextList.length">没有找到相关擂台</li>
                            </ul>
                        </div>
                    </div>
                    <div ng-if="selSelectValue.index ==2">
                        <div class="input-group">
                            <label>选择日课 : </label>
                            <input type="text" autocomplete="off" class="form-control" placeholder="请选择一个产品" ng-model="adUrl.name" ng-change="userChange2(adUrl.name)" ng-focus="showU2()" ng-blur="hideU2()" ng-required="selSelectValue.index ==2">
                            <ul ng-click="hideU2()" class="user-ul-style___">
                                <li ng-repeat="courseItem in courseList" class="user-li-style" ng-click="changeName(courseItem.name,courseItem.productId)">
                                    {{courseItem.name}}
                                </li>
                                <li style="padding:5px 10px" ng-show="!courseList.length">没有找到相关日课</li>
                            </ul>
                        </div>
                    </div>
                    <div ng-show="selSelectValue.index ==3">
                        <label>内容链接: </label>
                        <input type="text" ng-maxlength="500" class="form-control" ng-model="urlAdd" name="urlAdd" placeholder="内容链接:" ng-required="selSelectValue.index ==3"/>
                        <p class="redBorder" ng-if="updateForm.urlAdd.$error.required && updateForm.urlAdd.$touched">输入不能为空</p>
                        <p class="redBorder" ng-if="updateForm.urlAdd.$error.maxlength && updateForm.urlAdd.$touched">不能超过500字</p>
                    </div>
                    <div ng-show="selSelectValue.index ==4">
                        <label>文章链接: </label>
                        <input type="text" autocomplete="off" class="form-control" placeholder="请选择一篇文章" ng-model="adUrl.name" ng-change="userChange4(adUrl.name)" ng-focus="showUl4()" ng-blur="hideUl4()" ng-required="selSelectValue.index ==4">
                        <ul ng-click="hideUl4()" class="user-ul-style___">
                            <li ng-repeat="articleItem in articleList" class="user-li-style" ng-click="changeName(articleItem.title,articleItem.articleId)">
                                {{articleItem.title}}
                            </li>
                            <li style="padding:5px 10px" ng-show="!courseList.length">没有找到相关文章</li>
                        </ul>
                    </div>
                </div>
            </fieldset>
            <fieldset ng-show="select2">
                <div class="input-group col-lg-offset-2">
                    <label>标题: </label>
                    <input type="text" ng-maxlength="60" class="form-control" ng-model="title" name="title" placeholder="标题" ng-required="select2"/>
                    <p class="redBorder" ng-if="updateForm.title.$error.required && updateForm.title.$touched">输入不能为空</p>
                    <p class="redBorder" ng-if="updateForm.title.$error.maxlength && updateForm.title.$touched">不能超过60字</p>
                </div>
            </fieldset>
            <fieldset ng-show="select2">
                <div class="input-group col-lg-offset-2">
                    <label>内容摘要 : </label>
                    <textarea ng-maxlength="60" style="resize: vertical" rows="3" cols="60" class="form-control" ng-model="synopsis" name="synopsis" ng-required="select2"></textarea>
                    <p class="redBorder" ng-if="updateForm.synopsis.$error.required && updateForm.synopsis.$touched">输入不能为空</p>
                    <p class="redBorder" ng-if="updateForm.synopsis.$error.maxlength && updateForm.synopsis.$touched">不能超过60字</p>
                </div>
            </fieldset>
            <fieldset>
                <div class="input-group col-lg-offset-2" >
                    <!--<label>定时发送时间：</label>
                    <input type="text"  class="form-control" placeholder="yyyy-MM-dd HH:mm" ng-model="Timing"  >-->
                        <label for="finalBeginDate">定时推送日期 : <input type="checkbox" ng-checked="false" ng-model="Timing"></label>
                        <p class="input-group col-sm-8">
                            <input s type="text" datepicker-popup="{{format}}" ng-model="finalBeginDate.date" is-open="finalBeginDate.opened" min-date="minDate"  ng-change="dataChange()" datepicker-options="dateOptions" ng-required="true" close-text="Close" class="form-control" style="width: auto" />
                            <span class="input-group-btn">
                                <button style="height:35px"  type="button" ng-click="openFinalBeginDate($event)" class="btn btn-default">
                                    <em class="fa fa-calendar"></em>
                                </button>
                            </span>
                        </p>
                </div>
            </fieldset>
            <fieldset>
                <div class="input-group col-lg-offset-2" >
                    <label>{{setSelectName}} : </label>
                    <select class="custom-css form-control center-block" ng-model="setSelectValue" ng-change="" ng-options="setSelectValue.type for setSelectValue in setType"></select>
                </div>
            </fieldset>
            <fieldset>
                <button class="btn btn-primary btn-lg center-block big-font">发布</button>
            </fieldset>
        </div>
    </form>
</div>