<!--
	a mobileUser detail !
-->
<h3>用户详情
    <small>用户的详细信息</small>
</h3>
<div ng-controller="addMobileUserCtrl" class="panel panel-default">

    <div class="col-md-12">
        <form class="form-validate form-horizontal" name="updateForm" ng-submit="submitForm(updateForm.$valid)">
            <!-- START panel-->
            <div class="panel panel-default" style="border: none;">
                <div class="panel-body">
                    <fieldset>
                        <div class="form-group col-sm-6">
                            <img id="headImgUrl" style="width: 80px;height: 80px;" />
                            <span style="color: red;">*需要创建完用户后,方可上传头像</span>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group col-sm-4">
                            <div class="input-group col-sm-10">
                                <span class="input-group-addon">姓名 : </span>
                                <input  type="text" class="form-control" placeholder="姓名" ng-model="name" name="name" required>
                            </div>
                            <p class="redBorder" ng-if="updateForm.name.$error.required && updateForm.name.$touched">输入不能为空</p>
                        </div>
                        <div class="form-group col-sm-4">
                            <div class="input-group col-sm-10">
                                <span class="input-group-addon">幸会号 : </span>
                                <input type="text" class="form-control" placeholder="幸会号" ng-model="imeetId">
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <div class="input-group col-sm-10">
                                <span class="input-group-addon">手机号 : </span>
                                <input type="text" class="form-control" placeholder="手机号" ng-model="phoneNo" name="phoneNo" required>
                            </div>
                            <p class="redBorder" ng-if="updateForm.phoneNo.$error.required && updateForm.phoneNo.$touched">输入不能为空</p>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group col-sm-12">
                            <div class="input-group col-sm-6">
                                <span class="input-group-addon">性别 : </span>
                                <span style="margin-top: 8px;display: inline-block; margin-left: 20px;"><span class="pull-left">男 :</span><input class="pull-left" type="radio" class="form-control" placeholder="男" name="sex" value="1" ng-model="sex" required></span>
                                <span style="margin-top: 8px;display: inline-block; margin-left: 20px;"><span class="pull-left">女 :</span><input class="pull-left" type="radio" class="form-control" placeholder="女" name="sex" value="2" ng-model="sex" required></span>
                            </div>
                            <p class="redBorder" ng-if="updateForm.sex.$error.required && updateForm.sex.$touched">输入不能为空</p>
                            <h4 class="col-sm-6 pull-right text-center">设置密码 : </h4>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group have-small-padding-l-r">
                            <label class="pull-left" style="margin-right: 50px" for="">{{industrySelectName}} : </label>
                            <select style="width: 200px;margin-right: 10px" class="custom-css form-control col-sm-6" ng-model="industrySelectValue" ng-change="dataChange_2()" name="industrySelectValue" ng-options="industrySelectValue.name for industrySelectValue in industyList" required></select>
                            <select style="width: 200px" class="custom-css form-control col-sm-6" ng-model="industrySelectValue_2" ng-change="dataChange()" name="industrySelectValue_2" ng-options="industrySelectValue_2.name for industrySelectValue_2 in industrySelectValue.children" required></select>
                            <p class="redBorder" ng-if="(updateForm.industrySelectValue.$error.required && updateForm.industrySelectValue.$touched) || (updateForm.industrySelectValue_2.$error.required && updateForm.industrySelectValue_2.$touched)">输入不能为空</p>
                            <div class="col-sm-offset-6">
                                <div class="input-group" style="width: 400px">
                                    <span class="input-group-addon">创建密码 : </span>
                                    <input type="password" class="form-control" placeholder="设置密码" name="password_1" ng-model="password_1" required>
                                </div>
                                <p class="redBorder" ng-if="updateForm.password_1.$error.required && updateForm.password_1.$touched">输入不能为空</p>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group have-small-padding-l-r">
                            <label class="pull-left" style="margin-right: 22px" for="">{{regionSelectName}} : </label>
                            <select style="width: 200px;margin-right: 10px" class="custom-css form-control col-sm-6" name="regionSelectValue" ng-model="regionSelectValue" ng-change="dataChange_1()" ng-options="regionSelectValue.name for regionSelectValue in regionTypes" required></select>
                            <select style="width: 200px" class="custom-css form-control col-sm-6" name="regionSelectValue_2" ng-model="regionSelectValue_2" ng-change="dataChange()" ng-options="regionSelectValue_2.name for regionSelectValue_2 in regionSelectValue.cityList" required></select>
                            <p class="redBorder" ng-if="(updateForm.regionSelectValue.$error.required && updateForm.regionSelectValue.$touched) || (updateForm.regionSelectValue_2.$error.required && updateForm.regionSelectValue_2.$touched)">输入不能为空</p>
                            <div class="col-sm-offset-6">
                                <div class="input-group" style="width: 400px">
                                    <span class="input-group-addon">确认密码 : </span>
                                    <input type="password" class="form-control" placeholder="确认密码" ng-model="password_2" required>
                                </div>
                                <p class="redBorder" ng-if="!(password_1==password_2)">俩次密码不一致</p>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon">职业名称 : </span>
                                <input type="text" class="form-control" placeholder="职业名称" name="positionName" ng-model="positionName" required>
                            </div>
                            <p class="redBorder" ng-if="updateForm.positionName.$error.required && updateForm.positionName.$touched">输入不能为空</p>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon">公司名称 : </span>
                                <input type="text" class="form-control" placeholder="公司名称" name="companyName" ng-model="companyName" required>
                            </div>
                            <p class="redBorder" ng-if="updateForm.companyName.$error.required && updateForm.companyName.$touched">输入不能为空</p>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon">个人简介 : </span>
                                <textarea style="resize: none;" placeholder="个人简介" class="form-control" rows="3" ng-model="introduce"></textarea>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="panel panel-danger col-sm-5 pull-left no-padding-l-r">
                            <div class="panel-heading"><h4 class="text-center">关注的领域</h4></div>
                            <div class="panel-body">
                                <label class="my-checkbox" ng-repeat="userItem in realmList" ng-click="userItem.fnChecked = !userItem.fnChecked" ng-class="userItem.fnChecked?'my-checkbox my-checkbox_active_l':'my-checkbox'">
                                    <span>{{userItem.name}}</span>
                                </label>
                            </div>
                        </div>
                        <div class="panel panel-success col-sm-5 pull-right no-padding-l-r">
                            <div class="panel-heading"><h4 class="text-center">擅长的领域</h4></div>
                            <div class="panel-body">
                                <label class="my-checkbox" ng-repeat="userItem in realmList_2" ng-click="userItem.fnChecked = !userItem.fnChecked" ng-class="userItem.fnChecked?'my-checkbox my-checkbox_active_r':'my-checkbox'">
                                    <span>{{userItem.name}}</span>
                                </label>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <button class="btn btn-primary btn-lg center-block big-font">提交</button>
                    </fieldset>
                </div>
            </div>
            <!-- END panel-->
        </form>
    </div>
</div>