
<!--
	user list !
-->
<h3>财务管理
    <small>发票详情</small>
</h3>
<div  ng-controller="invoiceDetailCtrl" class="panel panel-default">
    <form  name="updateForm" ng-submit="submitForm(updateForm.$valid)">
        <div class="panel-body " ng-class="loading?'whirl standard':'' " style="border-top: 1px solid #CFDBE2;">
            <table style="width:45%;text-align:left;border:1px solid #ddd;float: left;margin-right: 30px;" class="table">
                <tbody>
                <tr>
                    <td>发票订单</td>
                    <td>说明</td>
                </tr>
                <tr>
                    <td>订单编号</td>
                    <td>
                        <input ng-disabled="true" type="text" ng-model="orderInvoices.orderIds" class="form-control"/>
                    </td>
                </tr>
                <tr>
                    <td>总金额</td>
                    <td>
                        <input ng-disabled="true" type="text" ng-model="orderInvoices.money" class="form-control"/></td>
                </tr>
                <tr>
                    <td>订单时间</td>
                    <td>
                        <input ng-disabled="true" type="text" ng-model="orderInvoices.createTime" class="form-control"/>
                    </td>
                </tr>
                <tr>
                    <td>开具订单数</td>
                    <td> <input ng-disabled="true" type="text" ng-model="orderInvoiceDetailsCount" class="form-control"/></td>
                </tr>
                <tr>
                    <td>发票抬头</td>
                    <td>
                        <input ng-disabled="onOff?false:true"  ng-maxlength="100" type="text" name="invoiceTitle" ng-model="orderInvoices.invoiceTitle" class="form-control"/>
                        <p class="redBorder" ng-if="updateForm.invoiceTitle.$error.required && updateForm.invoiceTitle.$touched">输入不能为空</p>
                        <p class="redBorder" ng-if="updateForm.invoiceTitle.$error.maxlength && updateForm.invoiceTitle.$touched">不能超过100字</p>
                    </td>
                </tr>
                <tr>
                    <td>发票类别</td>
                    <td>
                        <select ng-disabled="onOff?false:true" class="custom-css form-control"  ng-model="invoiceSelectValue" ng-options="invoiceSelectValue._index_ as invoiceSelectValue._value_ for invoiceSelectValue in invoiceType" >
                        </select>
                    </td>
                    <!--//  {{orderInvoices.invoiceType | invoiceTypes}}-->
                </tr>
                <tr>
                    <td>发票类型</td>
                    <td>
                        <select ng-disabled="onOff?false:true" class="custom-css form-control"  ng-model="invoiceCategorySelectValue" ng-options="invoiceCategorySelectValue._index_ as invoiceCategorySelectValue._value_ for invoiceCategorySelectValue in invoiceCategory" >
                        </select>
                    </td>
                </tr>

                <tr>
                    <td>纳税人识别号</td>
                    <td>
                        <input ng-disabled="onOff?false:true" type="text" ng-maxlength="50" name="taxpayerNumber" ng-model="orderInvoices.taxpayerNumber" class="form-control"/>
                        <p class="redBorder" ng-if="updateForm.taxpayerNumber.$error.required && updateForm.taxpayerNumber.$touched">输入不能为空</p>
                        <p class="redBorder" ng-if="updateForm.taxpayerNumber.$error.maxlength && updateForm.taxpayerNumber.$touched">不能超过50字</p>
                    </td>
                </tr>
                <tr>
                    <td>注册地区</td>
                    <td>
                        <input ng-disabled="onOff?false:true" type="text" ng-maxlength="100" name="registrationArea"  ng-model="orderInvoices.registrationArea" class="form-control"/>
                        <p class="redBorder" ng-if="updateForm.registrationArea.$error.required && updateForm.registrationArea.$touched">输入不能为空</p>
                        <p class="redBorder" ng-if="updateForm.registrationArea.$error.maxlength && updateForm.registrationArea.$touched">不能超过100字</p>
                    </td>
                </tr>
                <tr>
                    <td>注册电话</td>
                    <td>
                        <input ng-disabled="onOff?false:true" type="text" ng-maxlength="50" name="registrationPhoneNo"  ng-model="orderInvoices.registrationPhoneNo" class="form-control"/>
                        <p class="redBorder" ng-if="updateForm.registrationPhoneNo.$error.required && updateForm.registrationPhoneNo.$touched">输入不能为空</p>
                        <p class="redBorder" ng-if="updateForm.registrationPhoneNo.$error.maxlength && updateForm.registrationPhoneNo.$touched">不能超过50字</p>
                    </td>
                </tr>
                <tr>
                    <td>开户银行</td>
                    <td>
                        <input ng-disabled="onOff?false:true" type="text" ng-maxlength="50" name="depositBank"   ng-model="orderInvoices.depositBank" class="form-control"/>
                        <p class="redBorder" ng-if="updateForm.depositBank.$error.required && updateForm.depositBank.$touched">输入不能为空</p>
                        <p class="redBorder" ng-if="updateForm.depositBank.$error.maxlength && updateForm.depositBank.$touched">不能超过50字</p>
                    </td>
                </tr>
                <tr>
                    <td>银行账户</td>
                    <td>
                        <input ng-disabled="onOff?false:true" type="text" ng-maxlength="50" name="bankAccount"  ng-model="orderInvoices.bankAccount" class="form-control"/>
                        <p class="redBorder" ng-if="updateForm.bankAccount.$error.required && updateForm.bankAccount.$touched">输入不能为空</p>
                        <p class="redBorder" ng-if="updateForm.bankAccount.$error.maxlength && updateForm.bankAccount.$touched">不能超过50字</p>
                    </td>
                </tr>
                <tr>
                    <td>邮寄收件人姓名</td>
                    <td>
                        <input ng-disabled="onOff?false:true" type="text" ng-maxlength="20" name="addressee" ng-model="orderInvoices.addressee" class="form-control"/>
                        <p class="redBorder" ng-if="updateForm.addressee.$error.required && updateForm.addressee.$touched">输入不能为空</p>
                        <p class="redBorder" ng-if="updateForm.addressee.$error.maxlength && updateForm.addressee.$touched">不能超过20字</p>
                    </td>
                </tr>
                <tr>
                    <td>邮寄收件人电话</td>
                    <td>
                        <input ng-disabled="onOff?false:true" type="text" ng-maxlength="50" name="receiveCall" ng-model="orderInvoices.receiveCall" class="form-control"/>
                        <p class="redBorder" ng-if="updateForm.receiveCall.$error.required && updateForm.receiveCall.$touched">输入不能为空</p>
                        <p class="redBorder" ng-if="updateForm.receiveCall.$error.maxlength && updateForm.receiveCall.$touched">不能超过50字</p>
                    </td>
                </tr>
                <tr>
                    <td>邮寄地址</td>
                    <td>
                        <input ng-disabled="onOff?false:true" type="text" ng-maxlength="100" name="area" ng-model="orderInvoices.area" class="form-control"/>
                        <p class="redBorder" ng-if="updateForm.area.$error.required && updateForm.area.$touched">输入不能为空</p>
                        <p class="redBorder" ng-if="updateForm.area.$error.maxlength && updateForm.area.$touched">不能超过100字</p>
                    </td>
                </tr>
                <tr>
                    <td>发票状态</td>
                    <td>
                        <select ng-disabled="true" class="custom-css form-control"  ng-model="statusSelectValue" ng-options="statusSelectValue._index_ as statusSelectValue._value_ for statusSelectValue in status" >
                        </select>
                    </td>
                </tr>
                </tbody>
            </table>
            <table style="width:40%;text-align:left;border:1px solid #ddd;float: left" class="table">
                <tbody>
                <tr>
                    <td>订单构成</td>
                    <td>订单类型</td>
                    <td>订单金额</td>
                </tr>
                <tr ng-repeat="orderInvoiceDetail in orderInvoiceDetails">
                    <td>{{orderInvoiceDetail.orderNo}}</td>
                    <td>{{orderInvoiceDetail.orderType}}</td>
                    <td>{{orderInvoiceDetail.price}}</td>
                </tr>
                <tr>
                    <td colspan="3">
                        备注
                        <textarea ng-disabled="onOff?false:true" ng-maxlength="500" style="resize: vertical" rows="8" cols="50" class="form-control" name="bz" ng-model="orderInvoices.bz" placeholder="备注"></textarea>
                        <p class="redBorder" ng-if="updateForm.bz.$error.required && updateForm.bz.$touched">输入不能为空</p>
                        <p class="redBorder" ng-if="updateForm.bz.$error.maxlength && updateForm.bz.$touched">不能超过500字</p>
                    </td>
                </tr>
                <tr>
                    <td><div ng-click="onOff=true"  class="btn btn-warning">编辑</div></td>
                    <td><button  ng-click="onOff=false"   class="btn btn-primary">保存</button></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>


    </form>

</div>