
treecontrol ul {
    width: 100%;
}

treecontrol .c-checkbox span {
    width: 15px;
    height: 15px;
}

treecontrol .c-checkbox input {
    margin-left: -10px !important;
}

treecontrol .c-checkbox span:before {
    line-height: 13px;
}

treecontrol treeitem ul:before {
    display: inline-block;
    content: "";
    position: absolute;
    z-index: 1;
    top: 16px;
    bottom: 11px;
    left: 25px;
    border: 1px dotted #67b2dd;
    border-width: 0 0 0 1px;
}

treecontrol treeitem ul li:before {
    width: 12px;
    display: inline-block;
    content: "";
    position: absolute;
    top: 10px;
    left: 7px;
    width: 13px;
    height: 0;
    border-top: 1px dotted #67b2dd;
    z-index: 1;
}

treecontrol .power {
    margin: 0 5px;
}

.configPower {
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
    height: 100%;
    border-left: 1px double #C3C3C3;
}

.hideInput treecontrol label {
    display: none;
}

ul > li {
    list-style: none;
}

.searchInput {
    padding-left: 0;
    margin-bottom: 15px;
}

.fontawesome-icon-list .fa-hover {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.paramsGroup div {
    height: 40px;
    line-height: 40px;
}

.paramsGroup input {
    display: inline-block;
    width: 60%;
}

/**
 *报单 
 */
.order-title {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #dcdcdc;
}

.order-product {
    border-bottom: 1px solid #dcdcdc;
    height: 80px;
    line-height: 40px;
}

.finalInfo {
    padding-top: 10px;
    border-bottom: 1px solid #DCDCDC;
}

.finalInfo div label {
    padding-left: 0;
    font-weight: normal;
}

.finalInfo div > div {
    height: 30px;
    line-height: 30px;
    margin-bottom: 10px;
}

.order-user,
.jiekuaninfo {
    height: 42px;
    line-height: 42px;
}

.jiekuaninfo input,
.finalInfo input {
    width: 80px;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    height: 30px;
    line-height: 30px;
    text-indent: 5px;
}

.jiekuaninfo select,
.finalInfo select {
    width: 100px;
    display: inline-block;
    height: 30px;
}

.house-img-list a,
.IDcard-img a {
    margin-bottom: 10px;
    text-align: center;
    background: #ccc;
    border-right: 5px solid #fff;
}

.house-img-list a img,
.IDcard-img a img {
    height: 150px;
}

.noPassReason {
    border-top: 1px solid #DCDCDC;
    line-height: 30px;
}

.button-group {
    padding-top: 12px;
}

.feedBackList,
.lookDateList {
    border-left: 1px solid #DCDCDC;
}

.feedBackList h3,
.lookDateList h3 {
    font-size: 18px;
    padding-left: 20px;
}

.feedBackList ul,
.lookDateList ul {
    overflow-y: scroll;
    height: 200px;
}

.feedBackList ul li,
.lookDateList ul li {
    list-style: disc;
}

.addFeedBack {
    margin-bottom: 10px;
}

.addFeedBack input,
.addFeedBack button {
    height: 30px;
    line-height: 18px;
}

.no_line {
    white-space: nowrap;
}

/*
 产品
 * */
.font-color {
    height: 30px;
    width: 30px;
}

.upload-img {
    width: 44px;
    height: 44px;
}

.news-img {
    width: 375px;
    height: 125px;
}

fieldset div a.zhouqiSeclected {
    border: 1px solid #FF8517 !important;
}

fieldset .form-group div {
    padding-top: 7px;
}

.panel .form-inline .form-group input,
.panel .form-inline .form-group select {
    margin-right: 10px;
}

.my-checkbox {
    /*background: #ff902b;*/
    background: #cfcfcf;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    margin-right: 5px;
    border-radius: 5px;
    color: #ffffff;
}

.my-checkbox_active_l {
    background: #f05050;
}

.my-checkbox_active_r {
    background: #27c24c;
}

.redBorder {
    color: #f05050;;
}

.my-checkbox input {
    /*display: none;*/
}

.no-padding-l-r {
    padding-left: 0;
    padding-right: 0;
}

.have-padding-l-r {
    padding-left: 50px;
    padding-right: 50px;
}

.have-small-padding-l-r {
    padding-left: 20px;
    padding-right: 20px;
}

.big-font {
    font-size: 20px;
}

.big-big-font {
    font-size: 40px;
    line-height: 70px;
}

.input-h {
    height: 83px;
}

.pk_true {
    background: #f05050;
    display: block;
    height: 30px;
    color: #ffffff;
}

.pk_false {
    background: #27c24c;
    display: block;
    height: 30px;
    color: #ffffff;
}

.date_label {
    height: 35px;
    line-height: 35px;
}
.userUlStyle{
    position: absolute;
    z-index: 1000;
    background: #ffffff;
    top: 158px;
    left:90px;
    border: 1px solid #dcdcdc;
    padding: 0;
}
.userUlStyle1{
    position: absolute;
    z-index: 1000;
    background: #ffffff;
    top: 35px;
    left:15px;
    border: 1px solid #dcdcdc;
    padding: 0;
}
.user-ul-style {
    position: absolute;
    z-index: 1000;
    background: #ffffff;
    top: 33px;
    border: 1px solid #dcdcdc;
    padding: 0;
}

.user-ul-style_ {
    z-index: 1000;
    background: #ffffff;
    border: 1px solid #dcdcdc;
    margin-top:34px;
    padding: 0;
}

.user-ul-style__ {
    z-index: 1000;
    background: #ffffff;
    border: 1px solid #dcdcdc;
    margin-top:34px;
    padding: 0;
}
.user-ul-style___ {
    z-index: 1000;
    background: #ffffff;
    border: 1px solid #dcdcdc;
    margin-top:34px;
    padding: 0;
}
.user-li-style {
    padding: 10px 20px;
    border-bottom:1px dashed #ddd;
}
.user-li-style:last-child{
    border-bottom:none;
}
.user-li-style_ {
    padding: 10px 40px;
    background: #5d9cec;
}

.user-li-style:hover, .user-li-style_:hover {
    background: #5d9cec;
}

.upload-img-big1 {
    width: 389px;
    height: 140px;
    border: 1px solid #666666;
    margin-top: 10px;
}
.upload-img-big {
    width: 389px;
    height: 140px;
    border: 1px solid #666666;
    margin-top: 10px;
}
.uib{
    width: 702px;height: 320px; line-height: 30px;text-align: center;
}
.addIcon{
    width:50px;
    height:50px;
    border-color:transparent;
    text-align: center;
}

.uib1{
    height: 30px;width: 30px; line-height: 30px;text-align: center;
}
.topic-div {
    float: left;
    margin: 10px 10px 0 0;
    width: 100px;
    height: 100px;
    border: 1px solid #cfcfcf;
    position: relative;
    background: #cfcfcf
}

.topic-wrap {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 2;
    text-align: center;
    line-height: 100px;
    color: #ffffff;
    cursor: default
}

.topic-img {
    width: 100%;
    top: 50%;
    max-height: 100px;
    -webkit-transform: translateY(-50%);
    position: absolute
}

.topic-delete {
    position: absolute;
    right: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    z-index: 3;
    cursor: pointer
}

.topic{
    position: absolute;
    top:0px;
    right:-50%;
    width:400px;
    height:650px;
    background-color:#EAEDF2;
    /*background: url(../img/message.png) ;*/
    z-index: 100;
    transition: all 1s linear;

}
.topic1{
    right:0;
    /*transform:rotatey(360deg)*/
}
.topic>span{
    float:right;
    margin-right:10px;
    font-size: 35px;
    font-weight: bold;
    color:#a8a8a8;
}
.topic>div{
    clear:both;
    padding:0px;
    width:100%;
    height:480px;
    background-color: #ddd;
    overflow-y: scroll;
}
.topic>div>ul{
    padding:0px;
    width:100%;
    min-height:480px;

    overflow-y:auto;
}
.topic>div::-webkit-scrollbar {
    width:10px;
    height:10px;
}
.topic>div::-webkit-scrollbar-button    {
    background-color:#F9f9f9;
}
.topic>div::-webkit-scrollbar-track     {
    background:#F9f9f9;
}
/*
.topic>ul::-webkit-scrollbar-track-piece {
    background:url(http://www.lyblog.net/wp/wp-content/themes/mine/img/stripes_tiny_08.png);
}
*/
.topic>div::-webkit-scrollbar-thumb{
    background:#d4f5f9;
    border-radius:4px;
}
.topic>div::-webkit-scrollbar-corner {
    background:#82AFFF;
}
.topic>div::-webkit-scrollbar-resizer  {
    background:#F9f9f9;
}
.topic>div>ul>li{
    margin-top:10px;
    margin-bottom:5px;
    width:100%;
    clear:both;
}
.topic>div>ul>li>div{
    height:35px;
    line-height:35px;
    width:100%;
}
.topic>div>ul>li>p{
    min-width:20px;
}
/*li1*/
li.li1{
    float:left;
}
li.li1>div>img{
    width:35px;
    height:35px;
    border-radius: 50%;
    margin-left:10px;
}
li.li1>div>b{
    margin-left:10px;
}
li.li1>div>span{
    margin-left:24px;
}
li.li1>p{
    float:left;
    margin-top:10px;
    margin-left:50px;
    background-color: #FFF;
    padding:6px 12px;
    border-radius: 8px;
    max-width:70%;
}
li.li1>img{
    margin-top:10px;
    margin-left:50px;
    width:100px;
    height:70px;
}
/*li2*/
li.li2{
    float:right;
}
li.li2>div>img{
    float:right;
    margin-right:10px;
    width:35px;
    height:35px;
    border-radius: 50%
}
li.li2>div>b{
    margin-right:10px;
    float:right;
}
li.li2>div>span{
    float:right;
    margin-right:24px;
}
li.li2>p{
    float:right;
    margin-top:10px;
    margin-right:50px;
    background-color: #FFF;
    padding:6px 12px;
    border-radius: 8px;
    max-width:70%;
}
li.li2>img{
    float:right;
    margin-right:50px;
    width:100px;
    height:70px;
}
.addColor{
    color:red;
}
.isRead{
    color:#999999;
}
/*结算通知*/
.businessState>div{
    position: absolute;
    top:250px;
    left:50%;
    padding:40px;
    margin-left:-200px;
    width:420px;
    height:260px;
    border:1px solid black;
    background:#fff ;
    z-index: 100;
}
.businessState>div>.btn{
    position: absolute;
    bottom:10px;
    right:20px;
}
.businessState>div>span{
    float:right;
    margin-right:-25px;
    margin-top:-40px;
    font-size: 35px;
    font-weight: bold;
    color:#a8a8a8;
}
.articleAudit>div{
    position: absolute;
    top:250px;
    left:50%;
    padding:20px 40px;
    margin-left:-200px;
    width:420px;
    height:280px;
    border:1px solid black;
    background:#fff ;
    z-index: 100;
}
.articleAudit>div>.btn{
    position: absolute;
    bottom:10px;
    right:20px;
}
.articleAudit>div>span{
    float:right;
    margin-right:-25px;
    margin-top:-20px;
    font-size: 35px;
    font-weight: bold;
    color:#a8a8a8;
}
/*预览文章*/
.see{
    position: absolute;
    top:0px;
    left:50%;
    margin-left:-216px;
    width:432px;
    height:880px;
    /*/!*background-color:#EAEDF2;*!/*/
    background: url(../img/yulan.png) ;
}
.seeshow{
    display:none;
}
.content{
    width:376px;
    height:666px;
    padding:10px 10px 0;
    margin-left:28px;
    margin-top:107px;
    background-color: #FAFBFC;
    overflow-y: scroll;
    word-wrap:break-word;
}
.content>.title{
    font-size: 25px;
    margin:0;
}
.content>.nameTime{
    font-size: 15px;
    word-wrap:break-word;
}
.content>.laiyuan{
    font-size: 15px;
    margin:0;
    word-wrap:break-word;
}
.content>.zhaiyao{
    background-color: #D7D7D7;
    font-size: 18px;
    padding:5px;
}

.fabu{
    position: fixed;
    z-index: 10001;
    right:15%;
    top:40%;
}
.fabu>button{
    width:100px;
    height:30px;
}
.fabu>button.button2{
    background-color: #FF902B;
    margin-bottom: 20px;
}
.fabu>button.button3{
    background-color:#27C24C;
}








/**预览页面**/
div.preview-layer{
    display: none;
    position: relative;
}
div.preview-layer .preview-bg{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index:999;
    background-color:#000;
    opacity:0.7;
}

div.preview-layer .preview-phone{
    position: fixed;
    width: 410px;
    height: 840px;
    background: url(../img/iphone-bg.png) no-repeat no-repeat;
    z-index: 9999;
}
div.preview-html{
    display: none;
    position: relative;

}
#preview-html{
    position: absolute;
    width:361px;
    height: 638px;
    top:98px;
    left:24px;
    border: 2px solid #000;
    border-radius: 5px;
    outline: none;
    background-color: #fff;
}
/*扫码预览*/
.outSaoMa{
    position: fixed;
    background: rgba(0,0,0,.64);
}
#qrcode{
    width:190px; height:190px;margin:0 auto 20px;padding-top:70px;
}
.saoMa{
    width:280px;
    height:350px;
    position: absolute;
    top:50%;
    left:50%;
    margin-left:-140px;
    margin-top: -175px;
    background:  url(../img/beijing.png) no-repeat center top;;
}